/*general*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Lato";
}
body{
    margin: 0% 5%;
    background-color: #FFFFFF;
}
p{
    margin-top: 10px;
    text-align: justify;
    font-size: 25px;
}
h1{
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
}
h2{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}
h3{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}
h4{
    margin-top: 10px;
    font-size: 25px;
    font-weight: normal;
    text-align: left;  
}
table{
    font-size: 20px;
}
th{
    text-align: left;
    color: #1778BD;
    border: solid #1778BD;
    padding: 5px;
}
td{
    text-align: left;
    border: solid #1778BD;
    padding: 5px;
}
/*header*/
header{
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
}
header a{
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    position: relative;
}
header a::before,
header a::after{
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
header a::before{
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #1778BD;
  border-right: 3px solid #1778BD;
  transform: translate(-100%, 50%);
}
header a:after{
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #1778BD;
  border-left: 3px solid #1778BD;
  transform: translate(100%, -50%)
}
header a:hover:before,
header a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}
header a:hover {
  color: #5A6AB0;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-header-link {
    color: white;
    text-decoration: none;
}
.name {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 5%;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    align-items: center;
}
.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover, .nav-menu-link_active {
    background-color: #FFFFFF;
    transition: 0.5s;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
/*footer*/
footer{
    width: 90%;
    height: auto;
    background: #FFFFFF;
    color: #000000;
    margin: 5% 5% 0%;
    border: solid #343B40;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}
.footer-info h1{
    font-size: 25px;
    margin: 0%;
    text-align: left;
}
.footer-info p{
    font-size: 20px;
}
.colum1-footer, .colum2-footer, .colum3-footer{
    width: 30%;
    margin: auto;
}
.row-footer{
    display: flex;
    margin: 3% 0%;
}
.row-footer img{
    width: 30px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 100%;
}
.row-footer label{
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    margin: auto 1%;
}
.copyright{
    width: 100%;
    height: 30px;
    background-color: #343B40;
    color: #FFFFFF;
}
.copyright p{
    width: 100%;
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
/*language*/
.select-language a{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    top:150px;
    right:0px;
}
.select-language img{
    width:50px;
    height:50px;
    position: relative;
    opacity: 0.5;
}
.select-language img:hover{
    opacity: 1;
}
/*index*/
.my-info p{
    text-align: center;
    font-size: 30px;
}
.notable-proyects {
	width: 100%;
    height: auto;
	overflow: hidden;
    margin: 10px 0px;
}
.notable-proyects ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}
.notable-proyects li {
	width: 100%;
    height: auto;
	list-style: none;
}
.notable-proyects img {
	width: 80%;
    height: auto;
    margin: 0 10%;
    border: solid #1778BD;
    border-radius: 5%;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.last-video {
    width: 80%;
    height: auto;
    display: block;
    margin: 5% 10%;
}
.index-video {
    width: 100%;
    height: 45vw;
}
/*about_me*/
.me {
    padding-top: 20px;
    display: inline-block;
}
.me img {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 50px;
}
.my-courses {
    display: flex;
    flex-wrap: wrap;
}
.course {
    width: 30vh;
    height: auto;
    align-items: center;
    margin: 1% auto;
    border: solid #1778BD;
    border-radius: 10%;
}
.course a{
    color: #000000;
}
.course h3, .course h4 {
    text-align: center;
}
.programming-laguages {
    width: 97%;
    height: auto;
    margin: 0 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.language {
    display: inline-block;
    margin: 0% 1%;
}
.language h3 { 
    font-size: 25px;
    margin: 2%;
}
.bar {
    width: 350px;
    height: 20px;
    background: #343B40;
}
.progress {
    height: 100%;
    width: 100%;
    background: #1778BD;
}
.work-experience h2 {
    margin: 5% 0% 0%;
}
.work-experience h3 {
    text-align: left;
}
.work-experience h4 {
    text-align: justify;
}
/*my_projects*/
.my-projects{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.project{
    width: 300px;
    margin: 1% auto;
    border: solid #5A6AB0;
    border-radius: 5%;
    display: block;
}
.project-img{
    width: 250px;
    height: 250px;
    margin: 5px 25px;
}
.project p{
    margin: 0px 25px 5px;
}
.project-link{
    width: 150px;
    height: 50px;
    margin: 5px 75px 0px;
    border-radius: 5%;
}
/*blog*/
.my-blogs{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.blog{
    width: 400px;
    margin: 1% auto;
    border: solid #000000;
    border-radius: 5%;
    display: block;
}
.blog a{
    color: #000000;
    text-decoration: none;
}
.img-blog{
    width: 380px;
    height: auto;
    margin: 5px 10px;
}
.blog p{
    margin: 0px 25px 5px;
}
/*blogs*/
.weeks-portfolioSS h3{
    margin-top: 3%;
}
.weeks-portfolioSS a{
    color: #000000;
}
.weeks-portfolioSS a:hover{
    color: #5A6AB0;
}
.destrezas{
    display: flex;
    justify-content: center;
}
.autorretrato{
    display: flex;
    height: auto;
}
.autorretrato img{
    width: 40%;
    margin: 0 auto;
}
.convencionesar{
    height: 100%;
}
.cheats, .civilizations{
    margin-top: 3%;
}
.cheats-list li{
    font-size: 25px;
}
.civilization h4{
    font-weight: bold;
    text-transform: uppercase;
}
/*contact*/
.contact-form {
    max-inline-size: 550px;
    margin: auto;
  }
  .contact-form label {
    display: block;
    margin: 10px 0px;
  }
  .contact-form label span {
    color: #1778BD;
  }
  .contact-form input, .contact-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1778BD;
  }
  .send-message{
    width: 110px;
    height: auto;
    display: block;
    color: #FFFFFF;
    background-color: #1778BD;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
/*Dispositivos móviles*/
@media (max-width: 650px) {
    /*General*/
    p{
        margin-top: 10px;
        text-align: justify;
        font-size: 20px;
    }
    h1{
        margin-top: 80px;
        font-size: 45px;
        text-align: center;
    }
    h2{
        margin-top: 10px;
        font-size: 35px;
        text-align: center;
    }
    h3{
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }
    h4{
        margin-top: 10px;
        font-size: 20px;
        font-weight: normal;
        text-align: left;  
    }
    table{
        font-size: 15px;
    }
    /*about_me*/
    .me img {
        width: 80%;
        height: 80%;
        margin: 5% 10%;
    }
    .course {
        width: 100%;
        height: auto;
        margin: 1% auto;
    }
    /*blog*/
    .blog{
        width: 90%;
        margin: 1% 5%;
        border: solid #000000;
        border-radius: 5%;
        display: block;
    }
    .img-blog{
        width: 90%;
        height: auto;
        margin: 1% 5%;
    }
}
@media (min-width: 900px) {
    /*about_me*/
    .my-courses {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .course {
        width: 25%;
        margin: auto;
    }
}
@media (max-width: 900px) {
    /*header*/
    header {
        height: 70px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        position: fixed;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        left: 100%;
        transition: left 0.5s;
    }
    .nav-menu-item {
        width: 100%;
        text-align: center;
        margin: 5% 0%;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:hover{
        color: #5A6AB0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    .notable-proyects img {
        width: 90%;
        height: auto;
        margin: 0% 5%;
        border: solid #1778BD;
        border-radius: 5%;
    }
    /*Blogs*/
    .autorretrato{
        display: block;
        margin: 3% auto;
    }
    .autorretrato img{
        width: 100%;
    }
    /*footer*/
    .footer-info{
        flex-wrap: wrap;
    }
    .footer-info h1{
        text-align: center;
    }
    .colum1-footer, .colum2-footer, .colum3-footer{
        margin: 5%;
        width: 100%;
    }
    .copyright{
        width: 100%;
        height: 50px;
    }
    .copyright p{
        width: 100%;
        height: 40px;
    }
}
