/*general*/* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Lato";
}
body {
    margin: 0% 5%;
    background-color: #FFFFFF;
}
p {
    margin-top: 10px;
    text-align: justify;
    font-size: 25px;
}
h1{
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
}
h2{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}
h3{
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}
h4{
    margin-top: 10px;
    font-size: 25px;
    font-weight: normal;
    text-align: left;  
}
/*header*/
.menu {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
}
.menu a {
    color: #FFFFFF;
    font-weight: bold;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-header-link {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 5%;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    align-items: center;
}
.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-menu-link:hover, .nav-menu-link_active {
    background-color: #FFFFFF;
    transition: 0.5s;
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
/*footer*/
.pie-pagina{
    width: 90%;
    height: auto;
    background: #FFFFFF;
    color: #000000;
    margin: 5% 5% 0%;
    border: solid #343B40;
}
.informacion-pie{
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
}
.informacion-pie h1{
    font-size: 25px;
    margin: 0%;
    text-align: left;
}
.informacion-pie p{
    font-size: 20px;
}
.colum1, .colum2, .colum3{
    width: 30%;
    margin: auto;
}
.row{
    display: flex;
    margin: 3% 0%;
}
.row img{
    width: 30px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 100%;
}
.row label{
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    margin: auto 1%;
}
.derechos{
    width: 100%;
    height: 30px;
    background-color: #343B40;
    color: #FFFFFF;
}
.derechos p{
    width: 100%;
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
/*index*/
.my-info p{
    text-align: center;
    font-size: 30px;
}
.notable-proyects {
	width: 100%;
    height: auto;
	overflow: hidden;
    margin: 5% 0%;
}
.notable-proyects ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}
.notable-proyects li {
	width: 100%;
    height: auto;
	list-style: none;
}
.notable-proyects img {
	width: 80%;
    height: auto;
    margin: 0 10%;
    border: solid #1778BD;
    border-radius: 5%;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.last-video {
    width: 80%;
    height: auto;
    display: block;
    margin: 5% 10%;
}
.index-video {
    width: 100%;
    height: 45vw;
}
/*about_me*/
.yo {
    padding-top: 20px;
    display: inline-block;
}
.yo img {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 50px;
}
.mis-estudios {
    display: flex;
    flex-wrap: wrap;
}
.curso {
    width: 20vh;
    height: auto;
    align-items: center;
    margin: 1% auto;
    border: solid #1778BD;
    border-radius: 10%;
}
.curso a{
    color: #000000;
}
.curso h3, .curso h4 {
    text-align: center;
}
.lenguajes-programacion {
    width: 97%;
    height: auto;
    margin: 0 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lenguaje {
    display: inline-block;
    margin: 0% 1%;
}
.lenguaje h3 {
    font-size: 25px;
    margin: 2%;
}
.barra {
    width: 350px;
    height: 20px;
    background: #343B40;
}
.progreso {
    height: 100%;
    width: 100%;
    background: #1778BD;
}
.experiencia-laboral h2 {
    margin: 5%  0%0%;
}
.experiencia-laboral h3 {
    text-align: left;
}
.experiencia-laboral h4 {
    text-align: justify;
}
/*my_projects*/
.my-projects{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.project{
    width: 300px;
    margin: 1% auto;
    border: solid #5A6AB0;
    border-radius: 5%;
    display: block;
}
.img-proyecto{
    width: 250px;
    height: 250px;
    margin: 5px 25px;
}
.project p{
    margin: 0px 25px 5px;
}
.link-proyecto{
    width: 150px;
    height: 50px;
    margin: 0px 75px;
    border-radius: 5%;
}
/*Dispositivos móviles*/
@media (max-width: 650px) {
    .yo img {
        width: 80%;
        height: 80%;
        margin: 5% 10%;
    }
    .curso {
        width: 100%;
        height: auto;
        margin: 1% auto;
    }
}
@media (min-width: 900px) {
    .mis-estudios {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .curso {
        width: 25%;
        margin: auto;
    }
}
@media (max-width: 900px) {
    /*header*/
    .menu {
        height: 70px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        position: fixed;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        left: 100%;
        transition: left 1s;
    }
    .nav-menu-item {
        width: 100%;
        text-align: center;
        margin: 5% 0%;
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
    .notable-proyects img {
        width: 90%;
        height: auto;
        margin: 0% 5%;
        border: solid #1778BD;
        border-radius: 5%;
    }
    /*footer*/
    .informacion-pie{
        flex-wrap: wrap;
    }
    .informacion-pie h1{
        text-align: center;
    }
    .colum1, .colum2, .colum3{
        margin: 5%;
        width: 100%;
    }
    .derechos{
        width: 100%;
        height: 50px;
    }
    .derechos p{
        width: 100%;
        height: 40px;
    }
    /*about_me*/
    .lenguaje{
        width: 100%;
        margin: 1% 0%;
    }
    .barra {
        width: 100%;
        height: 15px;
    }
    .curso {
        width: 75%;
        height: auto;
        margin: 1% auto;
    }
}