<footer>
    <div class="footer-info">
        <div class="colum1-footer">
            <h1 id="purpose">Objetivo de la página</h1>
            <p id="purpose-description">Este portafolio fue creado con el fin de mostrar los proyectos y habilidades que
                poseo, como persona y como programador. El portafolio todos los días está en constante cambio por lo que
                es posible que algunas funciones se encuentren desactivadas temporalmente.</p>
        </div>
        <div class="colum2-footer">
            <h1 id="social-networks">Redes Sociales</h1>
            <div class="row-footer">
                <a href="https://www.linkedin.com/in/santiagoramirezperez/" target="_blank"><img
                        src="../../assets/images/linkedin.png" alt="" /></a>
                <label>/santiagoramirezperez</label>
            </div>
            <div class="row-footer">
                <a href="https://www.facebook.com/s.ramirezp10" target="_blank"><img
                        src="../../assets/images/facebook.png" alt="" /></a>
                <label>/s.ramirezp10</label>
            </div>
            <div class="row-footer">
                <a href="https://www.instagram.com/s_ramirezp10/ " target=" _blank"><img
                        src="../../assets/images/instagram.png" alt="" /></a>
                <label>@s_ramirezp10</label>
            </div>
            <div class="row-footer">
                <a href="https://www.tiktok.com/@s.ramirezp10" target="_blank"><img src="../../assets/images/tiktok.png"
                        alt="" /></a>
                <label>@s.ramirezp10</label>
            </div>
            <div class="row-footer">
                <a href="https://twitter.com/s_ramirezp10" target="_blank"><img src="../../assets/images/twitter.png"
                        alt="" /></a>
                <label>@s_ramirezp10</label>
            </div>
        </div>
        <div class="colum3-footer">
            <h1 id="contact-information">Información de contacto</h1>
            <div class="row-footer">
                <img src="../../assets/images/ubicacion.png" alt="" />
                <label>Medellín, Colombia</label>
            </div>
            <div class="row-footer">
                <a href="https://api.whatsapp.com/send?phone=573503783575" target="_blank"><img
                        src="../../assets/images/whatsapp.png" alt="" /></a>
                <label>+57-3503783575</label>
            </div>
            <div class="row-footer">
                <img src="../../assets/images/gmail.png" alt="" />
                <label>santiagoramirezperez96</label>
            </div>
            <div class="row-footer">
                <a href="https://github.com/santiagoramirez10" target="_blank"><img src="../../assets/images/github.png"
                        alt="" /></a>
                <label>/santiagoramirez10</label>
            </div>
            <div class="row-footer">
                <a href="https://www.youtube.com/@s_ramirezp10" target="_blank"><img
                        src="../../assets/images/youtube.png" alt="" /></a>
                <label>@s_ramirezp10</label>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p id="copyright">© 2023 Todos los Derechos Reservados | Santiago Ramírez Pérez</p>
    </div>
</footer>