<h1 id="h1-about">Sobre mí</h1>
<section class="me">
  <p id="me-paragraph1">¡Hola! déjame saludarte de nuevo, soy Santiago Ramírez Pérez, desarrollador de software
    apasionado con experiencia en desarrollo fullstack, análisis de datos y sistemas domóticos.
  </p>
  <p id="me-paragraph2"> Mi experiencia en el desarrollo frontend me ha permitido diseñar interfaces de usuario
    atractivas y funcionales utilizando tecnologías como HTML, CSS, JavaScript, Angular entre otras. Disfruto
    transformando ideas en experiencias digitales excepcionales y centradas en el usuario. Por otra parte, en el
    desarrollo backend me he centrado en Java, SQL y MongoDB. He trabajado en proyectos que involucran la gestión de
    bases de datos, la creación de API y la optimización de consultas para garantizar el rendimiento y la
    escalabilidad de los proyectos.
  </p>
  <p id="me-paragraph3">
    Mi experiencia se extiende al análisis de datos, donde he utilizado Python y R para extraer información valiosa
    a partir de conjuntos de datos complejos. Esta capacidad de análisis ha sido fundamental para la toma de
    decisiones informadas y la mejora de procesos en diversos proyectos.
  </p>
  <p id="me-paragraph4">
    He trabajado con Arduino para desarrollar
    soluciones inteligentes que mejoran la comodidad y la eficiencia en hogares y entornos comerciales. Desde la
    automatización de iluminación hasta el control de dispositivos, he contribuido a crear entornos más conectados y
    automatizados.
  </p>
  <p id="me-paragraph5">
    Además, he demostrado mi capacidad en desafíos de programación al participar en maratones de programación, donde
    he logrado obtener lugares altos y superar desafíos técnicos de manera efectiva. Estas experiencias me han
    ayudado a desarrollar habilidades de resolución de problemas y pensamiento lógico de alto nivel.
  </p>
  <p id="me-paragraph6">
    Estoy constantemente buscando oportunidades para aplicar mis habilidades y conocimientos en proyectos
    desafiantes y significativos. Siempre estoy abierto a nuevas colaboraciones y conexiones en el campo del
    desarrollo web, análisis de datos, automatización y en general en cualquier tipo de entorno de desarrollo donde
    pueda aplicar mis conocimientos y poder aprender de los demás en el proceso.
  </p>
</section>
<h2 id="academic-studies">Formación académica</h2>
<section class="my-courses">
  <div class="courses" *ngFor="let Course of Courses">
    <img src={{Course.img}} alt={{Course.alt}}>
    <div class="course">
      <h5 id="studies-title1" class="card-title">{{ Course.course }}</h5>
      <p>{{Course.school}}</p>
      <p>{{Course.year}}</p><br>
    </div>
  </div>
</section>
<h2 id="work-experience">Experiencia laboral</h2>
<section class="experience">
  <div class="work-experience">
    <h3 id="work-type1">Tutor de programación</h3>
    <p id="work-description1">He tenido la oportunidad de brindar asesorías relacionadas con la programación a
      personas interesadas en aprender diferentes lenguajes de programación. Durante estas asesorías, he
      compartido mis conocimientos y proporcionado orientación para ayudar a los estudiantes a comprender
      conceptos claves y resolver problemas de programación.
    </p>
  </div>
  <div class="work-experience">
    <h3 id="work-type2">Diseñador sistemas domóticos</h3>
    <p id="work-description2"> Diseñador, programador e instalador de sistemas domóticos. Pude utilizar mis
      habilidades técnicas y conocimientos en automatización para desarrollar soluciones personalizadas que
      mejoraran la comodidad de los clientes y poder satisfacer sus necesidades; además brindé capacitación al
      usuario final y soporte técnico para garantizar el funcionamiento optimo de los sistemas instalados.
    </p>
  </div>
  <div class="work-experience">
    <h3 id="work-type3">Página web propia</h3>
    <p id="work-description3">Como parte de mi aprendizaje y desarrollo personal, realicé el diseño y desarrollo de
      mi propia página web. Utilicé tecnologías como HTML, CSS, AngularJS y otras herramientas del desarrollo
      frontend. Durante este proceso, pude aplicar mis conocimientos en diseño de interfaces, creación de páginas
      web responsivas y mejora de la experiencia de usuario. Todos los días está en constante cambio por lo que
      cada día aprendo algo nuevo.
    </p>
  </div>
  <div class="work-experience">
    <h3 id="work-type4">Creador de contenido en YouTube</h3>
    <p id="work-description3">En el proceso de programador y electricista he desarrollado habilidades que me han
      permitido compartir el conocimiento en ambas disciplinas. Este es el caso de mi canal de YouTube <a
        href="https://www.youtube.com/@s_ramirezp10" target="_blank"><strong>@s_ramirezp10</strong></a> en el cual tengo más de
      400 suscriptores y he recibido más de 70.000 visitas desde su fecha de creación en noviembre de 2018. En el
      proceso, aparte de adquirir y mejorar habilidades de programación y circuitos eléctricos, he podido aprender
      sobre edición de video, photoshop, diseño de miniaturas, divulgación y promoción en redes sociales, entre
      otras herramientas que me han podido permitir divulgar mi conocimiento con mi comunidad.
    </p>
  </div>
</section>
<h2 id="languages">Lenguajes y herramientas</h2>
<section class="programming-laguages">
  <div *ngFor="let Language of Languages">
    <div class="language">
      <img class="img-language" src={{Language.img}} alt={{Language.alt}}>
    </div>
  </div>
</section>
<h2 id="achievements">Logros</h2>
<section class="achievements">
  <div class="achievements" *ngFor="let Achievement of Achievements">
    <div class="course">
      <h5 id="studies-title1" class="card-title">{{ Achievement.title }}</h5>
      <p>{{Achievement.year}}</p>
    </div>
  </div>
</section>
<h2 id="skills">Habilidades blandas</h2>
<section class="abilities">
  <ul>
    <li id="skill1">Liderazgo</li>
    <li id="skill2">Trabajo en equipo</li>
    <li id="skill3">Lógica de programación</li>
    <li id="skill4">Aprendizaje autodidacta</li>
  </ul>
</section>
<h2 id="interests">Intereses personales</h2>
<section class="personal-interests">
  <ul>
    <li id="interest1">Programación</li>
    <li id="interest2">Energía eléctrica</li>
    <li id="interest3">Robótica</li>
    <li id="interest4">Videojuegos</li>
    <li id="interest5">Blogging</li>
    <li id="interest6">Creación de contenido para YouTube</li>
    <li id="interest7">Fútbol</li>
  </ul>
</section>
