<h1 id="h1-about">Sobre mí</h1>
<section class="me">
    <p id="me-paragraph1">Hola, mi nombre es Santiago Ramírez Pérez, soy estudiante de ingeniería eléctrica de la
        Universidad
        de Antioquia y actualmente estoy en el octavo nivel. A lo largo de la carrera he podido aprender
        e ir fortaleciendo habilidades en programación que es lo que más me apasiona. También, las
        energías renovables y la domótica son de gran interés para mí.
    </p>
    <p id="me-paragraph2">En cuanto a programación, tengo alrededor de 5 años estudiando Python y Arduino que son
        mis lenguajes
        favoritos y fueron con los que comencé en el mundo de la programación. Actualmente me encuentro
        estudiando sobre desarrollo web que es mi próximo objetivo y es la principal razón por la que estoy
        realizando este proyecto del portafolio.
    </p>
    <p id="me-paragraph3">Mi interés hoy en día es participar en proyectos en los cuales pueda desarrollar mis
        habilidades como
        programador y/o aplicar los conocimientos que he adquirido en el área de ingeniería eléctrica, no solo
        me interesan los lenguajes de programación para los cuales tengo gran dominio, sino también enfrentar
        nuevos retos y adquirir conocimientos que permitan el desarrollo exitoso de los proyectos en los cuales
        haga parte.
    </p>
</section>
<h2 id="academic-studies">Formación académica</h2>
<section class="my-courses">
    <div class="courses" *ngFor="let Course of Courses">
        <img src={{Course.img}} alt={{Course.alt}}>
        <div class="course">
            <h5 id="studies-title1" class="card-title">{{ Course.course }}</h5>
            <p>{{Course.school}}</p>
            <p>{{Course.year}}</p><br>
        </div>
    </div>
</section>
<h2 id="languages">Lenguajes y herramientas</h2>
<section class="programming-laguages">
    <div *ngFor="let Language of Languages">
        <div class="language">
            <img class="img-language" src={{Language.img}} alt={{Language.alt}}>
        </div>
    </div>
</section>
<h2 id="work-experience">Experiencia laboral</h2>
<section class="experience">
    <div class="work-experience">
        <h3 id="work-type1">Tutor de programación</h3>
        <p id="work-description1">He tenido la oportunidad de brindar asesorías relacionadas con la programación a
            personas interesadas en aprender diferentes lenguajes de programación. Durante estas asesorías, he
            compartido mis conocimientos y proporcionado orientación para ayudar a los estudiantes a comprender
            conceptos claves y resolver problemas de programación.
        </p>
    </div>

    <div class="work-experience">
        <h3 id="work-type2">Diseñador sistemas domóticos</h3>
        <p id="work-description2"> Diseñador, programador e instalador de sistemas domóticos. Pude utilizar mis
            habilidades técnicas y conocimientos en automatización para desarrollar soluciones personalizadas que
            mejoraran la comodidad de los clientes y poder satisfacer sus necesidades; además brindé capacitación al
            usuario final y soporte técnico para garantizar el funcionamiento optimo de los sistemas instalados.
        </p>
    </div>
    <div class="work-experience">
        <h3 id="work-type3">Página web propia</h3>
        <p id="work-description3">Como parte de mi aprendizaje y desarrollo personal, realicé el diseño y desarrollo de
            mi propia página web. Utilicé tecnologías como HTML, CSS, AngularJS y otras herramientas del desarrollo
            frontend. Durante este proceso, pude aplicar mis conocimientos en diseño de interfaces, creación de páginas
            web responsivas y mejora de la experiencia de usuario. Todos los días está en constante cambio por lo que
            cada día aprendo algo nuevo.
        </p>
    </div>
</section>
<h2 id="skills">Habilidades blandas</h2>
<section class="abilities">
    <ul>
        <li id="skill1">Liderazgo</li>
        <li id="skill2">Trabajo en equipo</li>
        <li id="skill3">Lógica de programación</li>
        <li id="skill4">Aprendizaje autodidacta</li>
    </ul>
</section>
<h2 id="interests">Intereses personales</h2>
<section class="personal-interests">
    <ul>
        <li id="interest1">Programación</li>
        <li id="interest2">Energía eléctrica</li>
        <li id="interest3">Robótica</li>
        <li id="interest4">Videojuegos</li>
        <li id="interest5">Blogging</li>
        <li id="interest6">Creación de contenido para YouTube</li>
        <li id="interest7">Fútbol</li>
    </ul>
</section>