<h1 id="h1-projects-python">Proyectos en Python</h1>

<div>
    <div id="social-innovation-challenge" class="project-python">
        <h2>Reto innovacion social</h2>
        <p>En este proyecto se programan una serie de clases para cumplir con un reto de tema social. Se tienen datos de
            estudiantes generados aleatoriamente y no tienen que ver con la realidad. Entre los datos generados
            aleatoriamente se tienen las direcciones de residencia, su localidad, zona, riesgos sociales de las zonas
            entre otros datos que son mostrados en el proyecto. Además de ello se crea un archivo de Excel con todos los
            datos y también una base de datos por medio de librerías.</p>
    </div>
    <div id="matrix-class" class="project-python">
        <h2>Clase matriz</h2>
        <p>En este proyecto se crea una clase para interactuar con matrices, realizar operaciones básicas y conocer sus
            características. Se pueden generar matrices aleatorias, sumar 2 matrices ingresadas por el usuario,
            restar 2 matrices, multiplicar 2 matrices, multiplicar una matriz por 1 escalar, obtener la matriz
            transpuesta, entre otras funciones que se describen en los comentarios del código.</p>
    </div>
    <div id="sine-waves" class="project-python">
        <h2>Ondas senoidales</h2>
    </div>
    <div id="fourier-power-series" class="project-python">
        <h2>Series de fourier y de potencia</h2>
    </div>
</div>