<h1 id="h1-projects-python">Proyectos en Python</h1>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Maratón: Reto innovación social
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">En esta maratón realizada por Ruta N y Boost Consulting se realizaban una serie
                de retos con el objetivo de llegar a un producto mínimo viable posible, con este código mi compañero y
                yo logramos obtener el tercer lugar. <a href="projects-python#social-innovation-challenge">Ver
                    proyecto</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Clase matriz
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Este es un proyecto en el que se programa una clase que permite conocer las
                características de la matriz digitada por el usuario y además permite realizar las operaciones básicas
                entre 2 matrices. <a href="projects-python#matrix-class">Ver proyecto</a></div>
        </div>

    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Ondas senoidales
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Este es un programa que grafica 2 funciones senoidales aleatorias indicando el
                ángulo de desfase entre ellas. <a href="projects-python#sine-waves">Ver proyecto</a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Series de fourier y de potencia
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Se crea una interfaz gráfica donde el usuario puede graficar diferentes
                funciones y hallar su aproximación por series de fourier o series de potencia. <a
                    href="projects-python#fourier-power-series">Ver proyecto</a>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="social-innovation-challenge" class="project-python">
        <h2>Reto innovacion social</h2>
        <p>En este proyecto se programan una serie de clases para cumplir con un reto de tema social. Se tienen datos de
            estudiantes generados aleatoriamente y no tienen que ver con la realidad. Entre los datos generados
            aleatoriamente se tienen las direcciones de residencia, su localidad, zona, riesgos sociales de las zonas
            entre otros datos que son mostrados en el proyecto. Además de ello se crea un archivo de Excel con todos los
            datos y también una base de datos por medio de librerías.</p>
    </div>
    <div id="matrix-class" class="project-python">
        <h2>Clase matriz</h2>
    </div>
    <div id="sine-waves" class="project-python">
        <h2>Ondas senoidales</h2>
    </div>
    <div id="fourier-power-series" class="project-python">
        <h2>Series de fourier y de potencia</h2>
    </div>
</div>