<h1>¿Es ético que la inteligencia artificial tome decisiones que afecten a los humanos?</h1>
<article class="essay">
  <div class="introduction">
    <h2>Introducción</h2>
    <p>La inteligencia artificial (IA) ha existido durante más de seis décadas y ha experimentado inviernos y primaveras
      de IA.[1] Sin embargo, el uso de la IA ha aumentado en los últimos años, es entonces como este recurso ha
      transformado múltiples aspectos como la automatización de tareas, ha incursionado en asistentes virtuales,
      personalización de servicios, entre otros. Sin embargo, más recientemente la Inteligencia Artificial (IA) se ha
      involucrado en aspectos más importantes para el ser humano, la toma de decisiones.</p>
    <p>A medida que la toma de decisiones asistida por IA se está convirtiendo en una intersección importante entre la
      informática y la psicología, surge una necesidad emergente de comprender cómo afectaría la inteligencia artificial
      el rumbo de vida en las personas.</p>
    <p>Es por esto que surge una pregunta crucial: ¿es ético que la IA tome decisiones que afecten a los seres humanos?
      Basado en el documento "Ética de la inteligencia artificial" de Adela Cortina[2], este ensayo explorará los
      beneficios y riesgos de delegar decisiones importantes a las máquinas. La hipótesis que se plantea es que, aunque,
      la IA puede ofrecer soluciones eficientes y precisas, es esencial que su uso esté regulado éticamente para
      garantizar que las decisiones sean justas y equitativas.</p>
  </div>
  <div class="development">
    <h2>Desarrollo</h2>
    <p>Si bien es cierto que desde hace décadas el ser humano ha investigado y explorado la interacción entre
      máquina-hombre, hoy en día esta interacción es todo un hecho y ha llegado a situaciones más allá de lo que fueron
      previstas. Es entonces como el auge de la inteligencia artificial abarca la toma de decisiones que afectan en gran
      medida el rumbo que puede tomar la vida de un ser humano.</p>
    <p>La decisión está obviamente relacionada con el razonamiento. Una de las posibles definiciones de inteligencia
      artificial (IA) hace referencia a los procesos cognitivos y especialmente al razonamiento. Antes de tomar
      cualquier decisión, las personas también razonan, por lo que es natural explorar los vínculos entre la IA y la
      toma de decisiones. Este artículo distingue entre dos aspectos de la toma de decisiones: diagnóstico y
      anticipación. Se muestra que, por un lado, la IA tiene muchas relaciones con el diagnóstico (sistemas expertos,
      razonamiento basado en casos, teorías de conjuntos difusos y conjuntos aproximados). Por otro lado, la IA no ha
      prestado suficiente atención al razonamiento anticipado, cuyos principales componentes son la incertidumbre y las
      preferencias. [3]</p>
    <p>Hoy en día, la inteligencia artificial ha sido ampliamente utilizada en el ámbito del diagnóstico, es por este
      motivo que con este documento se busca crear conciencia de la falta de atención hacia el razonamiento anticipado,
      que implica consideraciones de incertidumbre y preferencias en la toma de decisiones. </p>
    <p>Esta revisión estructurada no solo identifica deficiencias en investigaciones anteriores, sino que también
      propone posibles direcciones para futuras investigaciones, buscando abordar las complejidades emergentes en la
      interacción entre humanos y sistemas de IA.</p>
    <p>Por ejemplo, el uso de la inteligencia artificial en la educación. El uso de IA ha tenido un gran impacto en la
      educación, incluyendo mejoras en la eficiencia, el aprendizaje personalizado y global, mejoras en la
      administración y en la generación de contenidos inteligentes en la administración y en la generación de contenidos
      inteligentes (realidad virtual, robótica, archivos audiovisuales o tecnología 3D) este impacto puede dividirse en
      tres áreas diferentes: administración, instrucción y aprendizaje. En el ámbito de la administración, destacan la
      realización más rápida de tareas y la identificación de preferencias para crear planes de estudio personalizados.
      En cuanto a la instrucción, el aprendizaje asistido por IA permite descubrir posibles deficiencias en el
      aprendizaje para abordarlas lo antes posible, realizar intervenciones adaptadas al alumno y predecir trayectorias
      profesionales mediante el estudio de datos. En última instancia, en el caso del aprendizaje, estos sistemas de
      educación inteligente (IAEd) están diseñados para incrementar el valor añadido del aprendizaje, especialmente las
      tecnologías de machine learning que están estrechamente relacionadas con la modelización estadística y la teoría
      del aprendizaje cognitivo[4]</p>
    <p>En esta premisa no se respeta el principio mencionado en la ética de la inteligencia artificial, en donde no se
      propone el respeto a principio como el principio de justicia, ya que la distribución de esta tecnología no se
      encuentra en forma equitativa, es decir no va a beneficiar a toda la población sino a una cuanta minoría que va a
      tener ventajas sobre la mayoría.</p>
    <p>Aunque el tema central en este documento es el uso de la IA y como afecta la integridad de no dañar a una persona
      mediante “derechos digitales”[2], como por ejemplo la honra tal y como se muestra en el caso resuelto en Colombia,
      en donde un juez resuelve un caso para un niño usando la inteligencia artificial [5]</p>
    <p>El rechazo por la toma de decisiones que pueda alterar de una manera no grata el rumbo en la vida de un ser
      humano. Es acá en donde radica el problema y donde es necesario entrar a regular el uso de la inteligencia
      artificial.</p>
    <p>El uso de este recurso fue el que decidió la vida de un menor, un recurso que no tiene la capacidad de razonar y
      más aún de anticipar, más grave aún que no tiene contexto de las leyes en el país y que solo se basa en la
      capacidad para redactar de una persona (el juez), para tomar la que sería tal vez la decisión más importante en la
      vida de este niño. </p>
    <p>Es claro que hace décadas se ha venido trabajando e investigando en la inteligencia artificial, sin embargo, el
      auge en este tema se ha presentado en los dos últimos años, es correcto entonces que una inteligencia artificial,
      de por sí programada por hombres con defectos, que no ha sido creada específicamente para este fin y que no tiene
      las capacidades necesarias para superar la inteligencia humana.</p>
    <p>A partir de lo anterior, ¿en donde queda entonces la preparación universitaria, las horas de estudió y todo lo
      aprendido en la academia?, si en este caso dio a entender que este recurso va a hacer mejor su trabajo.</p>
    <p>¿Es válido entonces afirmar que sus servicios no van a volver a ser requeridos y que podremos entonces prescindir
      de sus servicios?</p>
    <p>Otro ejemplo de esto es en las corporaciones en el área de gestión humana, incluso la inteligencia artificial
      puede decidir el futuro en la compañía de un trabajador y de su familia y volvemos entonces al tema anterior, a
      depender de una herramienta que no ha sido realizada para este propósito, pudiendo incluso dañar el buen nombre y
      la integridad de una persona. </p>
    <p>Finalmente se propone entonces crear un ente regulador independiente que se encargue de generar una restricción
      al uso de estas herramientas y una normativa para seguir la ética en la inteligencia artificial. </p>
  </div>
  <div class="conclusion">
    <h2>Conclusiones</h2>
    <p>• Es evidente que la inteligencia artificial ha revolucionado la toma de decisiones en diversas áreas, desde la
      educación hasta la administración de empresas. Sin embargo, el uso creciente de la IA también plantea importantes
      desafíos éticos y sociales que deben abordarse de manera urgente.</p>
    <p>• La falta de atención hacia el razonamiento anticipado en la toma de decisiones con inteligencia artificial, así
      como la distribución desigual de esta tecnología, resaltan la necesidad de establecer regulaciones claras y
      normativas éticas que guíen su desarrollo y uso.</p>
    <p>• El caso reciente en Colombia, donde un juez utilizó inteligencia artificial para resolver un caso judicial,
      subraya la importancia de considerar cuidadosamente las implicaciones de estas decisiones en la vida de las
      personas y la necesidad de salvaguardias para proteger sus derechos y dignidad.</p>
  </div>
  <div class="references">
    <h2>Bibliografía</h2>
    <p>[1] Y. Duan, J. S. Edwards, and Y. K. Dwivedi, “Artificial intelligence for decision making in the era of Big Data – evolution, challenges and research agenda,” Int J Inf Manage, vol. 48, pp. 63–71, Oct. 2019, doi: 10.1016/J.IJINFOMGT.2019.01.021.</p>
    <p>[2] Adela Cortina Orts, “ÉTICA DE LA INTELIGENCIA ARTIFICIAL.”</p>
    <p>[3] J. C. Pomerol, “Artificial intelligence and human decision making,” Eur J Oper Res, vol. 99, no. 1, pp. 3–25, May 1997, doi: 10.1016/S0377-2217(96)00378-5.</p>
    <p>[4] M. Martínez-Comesaña, X. Rigueira-Díaz, A. Larrañaga-Janeiro, J. Martínez-Torres, I. Ocarranza-Prado, and D. Kreibel, “Impact of artificial intelligence on assessment methods in primary and secondary education: Systematic literature review,” Revista de Psicodidactica, vol. 28, no. 2, pp. 93–103, Jul. 2023, doi: 10.1016/j.psicod.2023.06.001.</p>
    <p>[5] Febrero 05, 2023. ChatGPT: juez resuelve caso de un niño colombiano utilizando la inteligencia artificial. Tomado de https://www.semana.com/tecnologia/articulo/chatgpt-juez-resuelve-caso-de-un-nino-colombiano-utilizando-la-inteligencia-artificial/202306/</p>
  </div>
</article>
