footer {
  width: 100%;
  height: auto;
  background-color: #457B9D;
  margin-top: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info h1 {
  font-size: 25px;
  text-align: left;
  color: #F1FAEE;
  margin-top: 25px;
}

.footer-info p {
  font-size: 20px;
  color: #F1FAEE;
}


.colum1-footer{
  width: 45%;
  margin-left: auto;
}
.colum2-footer,
.colum3-footer {
  width: 20%;
  margin: auto;
}
.row-footer {
  display: flex;
  margin: 3% 0%;
}

.row-footer img {
  width: 30px;
  height: auto;
}

.row-footer label {
  font-size: 15px;
  text-decoration: none;
  margin: auto 1%;
  color: #F1FAEE;
}

.copyright {
  width: 100%;
  height: 50px;
  border-top: solid #A8DADC;
}

.copyright p {
  width: 100%;
  height: 20px;
  text-decoration: none;
  color: #F1FAEE;
  font-size: 20px;
  text-align: center !important;
}



@media (max-width: 900px) {
  .footer-info {
    flex-wrap: wrap;
  }

  .footer-info h1 {
    text-align: center;
  }

  .colum1-footer,
  .colum2-footer,
  .colum3-footer {
    margin: 5%;
    width: 100%;
  }

  .copyright {
    width: 100%;
    height: 100%;
  }

  .copyright p {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
