
    <h1 id="h1-projects">Proyectos de programación</h1>
    <section class="my-projects">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/sapiencia.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project1" class="card-title">Clon página de Sapiencia</h5>
                <p class="card-text">HTML-CSS</p>
                <a href="projects/Homepage_sapiencia/index.html" class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/fruver_master.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project2" class="card-title">Página de un fruver</h5>
                <p class="card-text">HTML-CSS-JavaScript</p>
                <a href="projects/Fruver_master/index.html" class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/matriz_identidad.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project3" class="card-title">Matriz identidad</h5>
                <p class="card-text">Python</p>
                <a href="https://github.com/santiagoramirez10/Matematicas_en_python/tree/main/Matriz_identidad"
                    target="_blank" class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/reto_innovacion.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project4" class="card-title">Reto innovación social</h5>
                <p class="card-text">Python-SQL</p>
                <a href="https://github.com/santiagoramirez10/Proyectos_Python/tree/main/Innovacion%20social"
                    target="_blank" class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Semaforo.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project5" class="card-title">Semáforo inteligente</h5>
                <p class="card-text">Arduino</p>
                <a href="https://github.com/santiagoramirez10/LEDs/tree/main/Semaforo" target="_blank"
                    class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Fotocelda.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project6" class="card-title">LED con fotocelda</h5>
                <p class="card-text">Arduino</p>
                <a href="https://github.com/santiagoramirez10/LEDs/tree/main/LED_Fotocelda" target="_blank"
                    class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Display7s1p.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project7" class="card-title">Contador de 0 a 9</h5>
                <p class="card-text">Arduino</p>
                <a href="https://github.com/santiagoramirez10/Displays/tree/main/Display7S1P" target="_blank"
                    class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Displaylcd12x2.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 id="project8" class="card-title">Hola mundo en pantalla</h5>
                <p class="card-text">Arduino</p>
                <a href="https://github.com/santiagoramirez10/Displays/tree/main/LCD16x2" target="_blank"
                    class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
    </section>
    <section class="select-language">
        <img id="USA" src="images/Estados_Unidos.png">
        <img id="Colombia" src="images/Colombia.png">

    </section>
