  .my-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .my-projects .card {
    width: 18rem;
    border: 2px solid #1D3557;
    border-radius: 5%;
    background-color: #A8DADC;
    margin: 10px auto;
  }
  
  .my-projects img {
    width: 80%;
    margin: 5% 10%;
  }
  
  .my-projects a {
    background-color: #F1FAEE;
    color: #1D3557;
    border: none;
  }
  
  .my-projects a:hover {
    background-color: #457B9D;
    color: #F1FAEE;
  }
  .my-projects h5{
    color: #1D3557;
  }