  .my-projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-around;
  }
  
  .my-projects .card {
    border: solid #1D3557;
    border-radius: 5%;
    background-color: #A8DADC;
  }
  
  .my-projects img {
    width: 80%;
    margin: 5% 10%;
  }
  
  .my-projects a {
    background-color: #F1FAEE;
    color: #1D3557;
    border: none;
  }
  
  .my-projects a:hover {
    background-color: #457B9D;
    color: #F1FAEE;
  }
  .my-projects h5{
    color: #1D3557;
  }