header {
    background-color: #457B9D;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    border-bottom: inset #A8DADC;
}

header a {
    color: #F1FAEE;
    font-weight: bold;
    padding: 5px;
    position: relative;
}

header a:hover {
    color: #A8DADC;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.name {
    font-size: 25px;
    font-weight: bold;
    margin: 11.75px 5%;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    align-items: center;
    margin: 12.5px;
}

.nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
}








.nav-toggle {
    color: #F1FAEE;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}














@media (max-width: 900px) {
.nav-menu {
        flex-direction: column;
        background-color: #343B40;
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: left 1s;
        margin: 0;
        padding: 0;
    }

    .nav-menu-item {
        width: 100%;
        text-align: center;
        margin: 5% 0%;
    }

    .nav-toggle {
        display: block;
        color: #FFFFFF;
    }

    .nav-menu_visible {
        left: 0;
    }


    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}
