<header>
  <nav class="nav-header">
    <a routerLink="/home" id="name" class="name">SANTIAGO R. P.</a>
    <button class="nav-toggle" aria-label="Open menu">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a id="about-me" routerLink="/about-me">Sobre mí</a></li>
      <li class="nav-menu-item"><a id="my-projects" routerLink="/my-projects">Mis proyectos</a></li>
      <li class="nav-menu-item"><a id="blog" routerLink="/blog">Blog</a></li>
      <li class="nav-menu-item"><a id="contact" routerLink="/contact">Contacto</a></li>
    </ul>
  </nav>
</header>