<h1>Portafolio habilidades blandas 2</h1>
<section class="intro-portfolioSS">
  <p>
    En este portafolio se realizan las reflexiones y los aprendizajes acerca de lo que se va aprendiendo en cada
    una de las temáticas abordadas en cada encuentro sincronico del curso habilidades blandas que hace parte de
    la ruta como desarrollador full stack la cual me encuentro realizando, esto permitirá ir fortaleciendo
    algunas competencias como lo son la comunicación escrita y el pensamiento crítico.
  </p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 2. COMPETENCIAS CIUDADANAS</h3>
  <p><strong>1. Para esta semana les propongo elaborar un esquema donde puedan nombrar las competencias ciudadanas,
      conceptualizarlas y resaltar la importancia de adquirir dicha competencia (¿Por qué es importante aprenderla
      y aprehenderla?). Para ello pueden elaborar un mapa conceptual, un mapa mental, un cuadro sinóptico o
      cualquier otro recurso que le permita llevar a cabo la elaboración del producto solicitado.</strong></p>
  <p>Las competencias ciudadanas son el conjunto de conocimientos y habilidades congnitivas, emocionales y
    comunicativas que nos permiten a todos los seres humanos participar en el desarrollo de una sociedad
    democrática. Estas capacidades se desarrollan conforme se vaya teniendo una formación ciudadana, no solo en
    centros de educación.</p>

  <p>Las instituciones educativas cumplen un papel importante en cuanto a estas competencias puesto que normalmente es
    donde los niños ocupan la mayoría de su tiempo. En estas instituciones se ofrecen a los estudiantes las
    herramientas necesarias para relacionarse con otros seres de manera justa y comprensiva</p>
  <p>Las competencias ciudadanas permiten que cada persona contribuya a la sociedad, genera una convivencia pacífica y
    participa de una manera responsable en los procesos democráticos.</p><br>
  <p>Según el ministerio de educación de Colombia, existen tres grandes grupos de competencias ciudadanas que
    representan una dimensión fundamental para el ejercicio de los derechos y los deberes de los ciudadanos.</p>
  <p><strong>Convivencia y paz: </strong>Son aquellas que hacen hincapié en la consideración de los demás y,
    especialmente, en la consideración de cada persona como ser humano. Algunas situaciones en las que estas
    competencias son aplicadas:</p>
  <ul>
    <li>
      <p>Doy a conocer mis sentimientos y emociones a través de distintas formas y lenguajes, como gestos,
        palabras, dibujos, representaciones teatrales, juegos, etc.(Competencias emocionales y comunicativas).
      </p>
    </li>
    <li>
      <p>Advierto sobre los riesgos de ignorar señales de tránsito, conducir a alta velocidad o habiendo consumido
        alcohol y portar armas. Soy consciente de qué medidas tomar para actuar responsablemente si presencio o
        estoy inmiscuido en un accidente. (Competencia integradora).</p>
    </li>
    <li>
      <p>Entiendo que se pueden presentar conflictos en los diferentes tipos de relaciones, incluyendo las de
        pareja, y que es posible manejarlos de forma constructiva utilizando la herramienta de la escucha y
        comprendiendo los puntos de vista del otro lado. (Competencias cognitivas y comunicativas).</p>
    </li>
  </ul><br>
  <p><strong>Participación y responsabilidad democrática: </strong>Se refieren a aquellas competencias orientadas
    hacia la toma de decisiones en contextos diferentes. A su vez, toman en consideración que tales decisiones deben
    respetar, tanto los derechos fundamentales de los individuos, como los acuerdos, las normas, las leyes y la
    Constitución que rigen la vida de una comunidad. Algunas situaciones en las que estas competencias son
    aplicadas:</p>
  <ul>
    <li>
      <p>Manifiesto mis ideas, sentimientos e intereses en la escuela y escucho con respeto los de los demás
        miembros del grupo. (Competencias emocionales y comunicativas).</p>
    </li>
    <li>
      <p>Ayudo de manera proactiva a lograr metas comunes en el salón de clases y reconozco la importancia que
        tienen las normas para lograr esos objetivos. (Competencia integradora).</p>
    </li>
    <li>
      <p>Hago uso mi libertad de expresión y escucho con respeto las opiniones de los demás. (Competencias
        comunicativas e integradoras).</p>
    </li>
  </ul><br>
  <p><strong>Pluralidad, identidad y valoración de las diferencias: </strong>Se caracterizan por el reconocimiento
    y el disfrute de las diferencias, al igual que la diversidad humana. Tienen como límite los derechos de los
    otros. Algunas situaciones en las que estas competencias son aplicadas:</p>
  <ul>
    <li>
      <p>Identifico y respeto la existencia de grupos con diversas características etarias, de etnia, género,
        oficio, lugar, situación socioeconómica, etc. (Competencias de conocimientos y cognitivas).</p>
    </li>
    <li>
      <p>Puedo estar consciente de algunas formas de discriminación en mi escuela o en mi comunidad (por etnia,
        cultura, género, religión, edad, aspectos económicos o sociales, capacidades o limitaciones
        individuales) y ayudo con decisiones, actividades, normas o acuerdos para evitarlas. (Competencias
        cognitivas e integradoras).</p>
    </li>
    <li>
      <p>Evalúo críticamente mis pensamientos y acciones cuando estoy siendo discriminado y puedo establecer si
        estoy favoreciendo o dificultando esa situación con mis acciones u omisiones. (Competencia cognitiva).
      </p>
    </li>
  </ul><br>
  <p>Adicional a lo que hemos visto, el Ministerio de Educación Nacional clasifica las competencias ciudadanas en 5
    tipos: </p>
  <p><strong>Los conocimientos: </strong>
    tiene que ver con la información que los niños y jóvenes deben saber y comprender en relación con el ejercicio
    de la ciudadanía.</p>

  <p><strong>Las competencias cognitivas: </strong>
    compete a la capacidad para realizar diversos procesos mentales, fundamentales en el ejercicio ciudadano, como
    la capacidad para colocarse en el lugar del otro, los niveles de análisis crítico y reflexión, así como la
    identificación de las consecuencias de los actos y decisiones propios.</p>

  <p><strong>Las competencias emocionales: </strong>
    están relacionadas con las habilidades necesarias para identificar y responder de manera constructiva las
    emociones personales que tenemos y las de los demás, como por ejemplo, tener empatía con nuestros interlocutores
    o quienes nos rodean.</p>

  <p><strong>Las competencias comunicativas: </strong>
    se trata de desarrollar capacidades para escuchar con atención los argumentos de los otros y procesarlos
    debidamente aunque no se compartan, así como construir capacidades para expresarnos adecuadamente sin agredir ni
    avasallar.</p>

  <p><strong>Las competencias integradoras: </strong>
    articulan las anteriores competencias para enfrentar de manera holística los problemas que se puedan presentar a
    través de la utilización de conocimientos, generación creativa de nuevas ideas, así como competencias
    emocionales y comunicacionales.</p>
  <p><i>Esta actividad fue desarrollada con base en el artículo competencias ciudadanas: <a
        href="https://www.lifeder.com/competencias-ciudadanas" target="_blank"
        rel="noopener"><strong>https://www.lifeder.com/competencias-ciudadanas</strong></a>.</i>
  </p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 3. EMPATÍA Y VALORACIÓN DE LAS DIFERENCIAS</h3>
  <p><strong>1. Para elaborar el portafolio de esta semana, los invito a tomarse un tiempo de descanso al lado de los
      que aman y a compartir una tarde de película con ellos, para ello los invito a revisar el siguiente recurso
      <a href="https://saposyprincesas.elmundo.es/cine-ninos/peliculas-recomendadas/peliculas-para-aprender-a-respetar-a-los-demas/"
        target="_blank" rel="noopener">PELÍCULAS
        PARA APRENDER A VALORAR LA DIFERENCIA</a> donde encontrarán una serie de recomendaciones de películas
      relacionadas con la temática que nos ocupa ésta semana. Elijan una y disfrútenla.
    </strong></p>
  <p>La película que escogí es "Forrest Gump".</p><br>
  <p>
    <strong>2. Posteriormente deben elaborar una reflexión sobre el filme seleccionado realizando un escrito que
      contenga
      un breve resumen de la película, un análisis sobre las situaciones que generaron conflictos ante la
      diferencia y una reflexión personal sobre la empatía y el respeto por los otros y por lo otro. </strong>
  </p>
  <p><strong>Resumen: </strong>es una película que sigue la vida de Forrest Gump, un hombre con discapacidad
    intelectual, pero con un corazón puro y una actitud optimista hacia la vida. A pesar de sus desafíos, Forrest
    vive una vida extraordinaria, siendo testigo y participante en algunos de los momentos más emblemáticos de la
    historia de Estados Unidos, incluyendo la Guerra de Vietnam, el movimiento por los derechos civiles y el
    surgimiento de la cultura pop. A través de su recuento retrospectivo de la vida, Forrest narra su historia a
    diferentes personas que se encuentran en la parada de autobús mientras espera.</p><br>
  <p><strong>Análisis de situaciones que generaron conflicto ante la diferencia: </strong>a lo largo de la película,
    Forrest Gump se encuentra en situaciones en las que
    su diferencia, tanto en términos de inteligencia como en su visión ingenua del mundo, genera conflictos y
    malentendidos con aquellos que lo rodean. Las personas a menudo lo subestiman debido a su discapacidad, lo
    que lleva a ser marginado o maltratado. Sin embargo, a pesar de su aparente limitación, Forrest sorprende a
    todos con su habilidad para superar desafíos y lograr cosas extraordinarias.</p>
  <p>Su amistad con Bubba, un compañero soldado afroamericano durante la Guerra de Vietnam, muestra cómo la diferencia
    cultural y racial puede superarse con una genuina amistad y camaradería. Forrest no ve a Bubba por su raza, sino
    como un amigo y hermano, lo que desafía las normas sociales y de la época.</p>
  <p>Además, la relación de Forrest con Jenny, su amiga de la infancia y amor de toda la vida, también está marcada
    por conflictos debido a sus diferencias en la forma de ver el mundo. Jenny lucha con sus propios demonios
    internos, y su inestabilidad emocional contrasta con la simplicidad y estabilidad emocional de Forrest.</p>
  <br>
  <p><strong>Reflexión personal sobre la empatía y el respeto por los otros y por lo otro: </strong>Forrest Gump es
    una poderosa película que nos invita a reflexionar sobre la empatía y el respeto hacia los demás,
    independientemente de sus diferencias. A través de la vida de Forrest, aprendemos que la verdadera grandeza
    reside en la bondad, la sinceridad y la honestidad. A pesar de sus desafíos intelectuales, Forrest demuestra una
    sabiduría innata al tratar a todos con respeto y amabilidad.</p>
  <p>La película nos enseña que la empatía es fundamental para comprender las experiencias de los demás y romper las
    barreras que separan a las personas. Al adoptar una actitud de apertura y comprensión hacia aquellos que son
    diferentes, podemos forjar conexiones significativas y contribuir a un mundo más compasivo y tolerante.</p>
  <p>La amistad de Forrest con Bubba y su incondicional amor por Jenny son ejemplos claros de cómo la empatía puede
    superar las diferencias culturales y sociales. Es esencial aprender a ver más allá de las apariencias y
    reconocer la humanidad que compartimos con todas las personas.</p>
  <p>En última instancia, Forrest Gump nos recuerda la importancia de respetar a los demás y valorar las diferencias
    que hacen que cada individuo sea único. Al practicar la empatía y el respeto por lo otro, podemos enriquecer
    nuestras vidas y contribuir positivamente a un mundo más inclusivo y compasivo.</p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 4. NETWORKING E INTERACCIÓN PERSONAL</h3>
  <p><strong>1. Para esta semana les propongo realizar una actividad sobre interacción personal que consiste en
      participar en el foro con un pequeño video sobre quienes somos, a que nos dedicamos y qué servicio podríamos
      ofrecer (habilidades personales/profesionales). Bien dicen por ahí que lo malo no es no saber sino no tener
      el contacto del que sabe.
    </strong></p>
  <p><i>Para ver el vídeo presentación puede hacer click en el siguiente link: <a
        href="https://www.youtube.com/watch?v=-jeBjzidCRQ" target="_blank"
        rel="noopener"><strong>https://www.youtube.com/watch?v=-jeBjzidCRQ</strong></a></i>
  </p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 5. TRABAJO EN EQUIPO</h3>
  <p><strong>1. Para esta semana les propongo que la actividad la realicemos en clase, para ello conformaremos algunos
      grupos (Según la cantidad de asistentes) y desarrollaremos una serie de construcciones didácticas y
      creativas con respecto a temáticas de interés que se seleccionen en el grupo. Es importante que tengan en
      cuenta que, durante la clase dispondremos de un tiempo para la exposición de los trabajos y que estos, deben
      ser alojados por cada integrante en su portafolio personal.
    </strong></p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 6. LIDERAZGO</h3>
  <p><strong>Cordial saludo queridos estudiantes. Para esta semana elaboramos una infografía y la consignamos en el
      portafolio con las siguientes reflexiones:</strong></p>
  <p><strong>1. Definir el concepto de Liderazgo.</strong></p>
  <p>Es la habilidad y capacidad de una persona para influir, guiar y motivar a otros individuos o grupos hacia la
    consecución de metas y objetivos comunes. Un líder es alguien que es capaz de inspirar y dirigir a los demás,
    proporcionando una visión clara, estableciendo el rumbo, tomando decisiones y fomentando la colaboración y el
    trabajo en equipo.</p><br>
  <p><strong>2. Características de un líder.</strong></p>
  <ul>
    <li>Visión y claridad.</li>
    <li>Comunicación efectiva.</li>
    <li>Integridad</li>
    <li>Capacidad de toma de decisiones.</li>
    <li>Inspiración y motivación.</li>
    <li>Empatía.</li>
    <li>Confianza en sí mismo.</li>
    <li>Adaptabilidad.</li>
    <li>Capacidad para delegar.</li>
    <li>Capacidad de aprendizaje.</li>
  </ul><br>
  <p><strong>3. ¿Cómo podemos desarrollar y/o potencializar la competencia de liderazgo? (TIPS)</strong></p>
  <ul>
    <li>Buscar oportunidades de liderar.</li>
    <li>Aprender de otros líderes.</li>
    <li>Mejorar habilidades de comunicación.</li>
    <li>Fomentar la empatía.</li>
    <li>Desarrollar habilidades de resolución de conflictos.</li>
    <li>Promover el trabajo en equipo.</li>
    <li>Liderar con el ejemplo.</li>
    <li>Solicitar retroalimentación.</li>
    <li>Celebrar los logros del equipo.</li>
  </ul><br>
  <p><i>La infografía puede ser descargada dando click <a href="../../../assets/images/Infografia_liderazgo.jpg"
        download><strong>aquí</strong></a>.</i></p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 7. COMUNICACIÓN Y LENGUAJE (COMUNICACIÓN ASERTIVA Y EFECTIVA)</h3>
  <p><strong>Para esta semana los invito a reflexionar sobre los contenidos vistos en clase y sobre los diversos
      contenidos de
      ésta lección para elaborar una infografía donde plantees algunos tips para desarrollar una comunicación
      asertiva
      y efectiva teniendo en cuenta las siguientes preguntas:</strong> </p>
  <p><strong>1. Según lo visto en clase y los videos del material complemetario, ¿qué es la Comunicación Asertiva y
      qué es la comunicación efectiva?</strong></p>
  <p>La comunicación asertiva es poder expresar pensamientos, sentimientos y necesidades de manera clara, honesta y
    respetuosa, al mismo tiempo que se consideran los derechos y sentimientos de los demás.</p>
  <p>La comunicación efectiva busca que la persona que emite el mensaje lo realice de forma clara, de forma directa y
    que no quede lugar a confusiones o malos entendidos, busca que la persona que recibe el mensaje procese la
    información en términos que pueda entender y dar retroalimentación sobre el mensaje que ha comprendido.</p>
  <p><strong>2. ¿Cómo se relaciona la Comunicación Asertiva y la comunicación Efectiva?</strong></p>
  <p>Una comunicación asertiva tiende a ser una forma efectiva de comunicarse. Cuando se es asertivo en la comunicación,
    se transmite el mensaje de manera clara y comprensible, lo que contribuye a la efectividad de la comunicación.</p>
  <p><strong>3. ¿Para qué nos sirve la comunicación Efectiva/Asertiva dentro de la Organización?</strong></p>
  <p>Entre muchas ventajas que tienen la comunicación efectiva y asertiva tenemos la resolución de conflictos, trabajo
    en equipo, claridad en metas y objetivos de la empresa o el grupo de trabajo, motivación, toma de decisiones y para
    mí el más importante que es la prevención de malentendidos.</p>
  <p><strong>4. ¿Cómo puedo desarrollar las competencias laborales relacionadas con la comunicación
      Asertiva/Efectiva?</strong></p>
  <p>Lo primero que hay que hacer es tener autoconciencia y autocrítica, hay que comprender el estilo propio de
    comunicación. Hay que escuchar, tener empatía, control emocional, tomar como hábito la retroalimentación tanto para
    ti mismo como de parte tuya hacia los demás, buscar modelos a seguir con quien te identifiques, entre otros.</p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 8. CAPACIDAD DE NEGOCIACIÓN</h3>
  <p><strong>Para elaborar el portafolio de esta semana los invito a resolver las siguientes preguntas:</strong></p>
  <p><strong>1. ¿Qué es la capacidad de negociación?</strong></p>
  <p>Es una habilidad de las personas para llegar a acuerdos que beneficien a las partes involucradas mediante un
    proceso de comunicación y discusión.</p>
  <p><strong>2. Desde su apreciación personal ¿Por qué es importante desarrollar esta habilidad?</strong></p>
  <p>En la vida misma, todos los días se está negociando, incluso con nosotros mismos negociamos. Por eso es importante
    tener esta habilidad, para sobresalir en todos los ámbitos posibles y también para evitar que personas
    malintensionadas se aprovechen de la persona por no tener capacidad de negociación.</p>
  <p><strong>3. Enumere una serie de habilidades que considera se relacionan o son necesarias para desarrollar la
      capacidad de negociación (argumenta tu respuesta).
    </strong></p>
  <ol>
    <li><strong>Comunicación efectiva:</strong> La comunicación clara y concisa es fundamental para transmitir tus
      puntos de vista y
      entender las necesidades y perspectivas de las otras partes involucradas en la negociación.</li>
    <li><strong>Empatía:</strong> Comprender las preocupaciones y deseos de las otras partes ayuda a crear un ambiente
      de colaboración y
      a encontrar soluciones que beneficien a todos.</li>
    <li><strong>Habilidades de persuasión:</strong> Saber cómo presentar tus argumentos y convencer a otros de la
      validez de tus puntos
      de vista puede ayudarte a lograr acuerdos beneficiosos.</li>
    <li><strong>Análisis de situaciones:</strong> Evaluar cuidadosamente la situación, identificar intereses y
      necesidades, y prever
      posibles obstáculos puede ayudarte a planificar una estrategia de negociación eficaz.</li>
    <li><strong>Paciencia y resistencia:</strong> Las negociaciones pueden ser largas y a veces desafiantes. La
      paciencia y la
      resistencia te permiten mantener la compostura y trabajar hacia soluciones a largo plazo.</li>
    <li><strong>Flexibilidad: </strong>Estar dispuesto a adaptarte y ceder en ciertos aspectos puede abrir puertas para
      acuerdos
      mutuamente beneficiosos.</li>
    <li><strong>Resolución de conflictos:</strong> La habilidad para abordar y resolver conflictos de manera
      constructiva es esencial
      para evitar que las diferencias obstaculicen el proceso de negociación.</li>
    <li><strong>Manejo emocional:</strong> Mantener la calma y el control emocional evita que las emociones interfieran
      en la toma de
      decisiones racionales.</li>
    <li><strong>Creatividad:</strong> Pensar de manera creativa puede ayudarte a encontrar soluciones fuera de lo común
      que satisfagan a
      todas las partes.</li>
    <li><strong>Conocimiento del tema:</strong> Estar bien informado sobre el tema de negociación te da credibilidad y
      confianza, lo que
      facilita el proceso de negociación.</li>
    <li><strong>Ética:</strong> Mantener una ética sólida durante la negociación es esencial para construir relaciones
      de confianza y
      llegar a acuerdos duraderos.</li>
  </ol>
  <p><strong>4. ¿Según lo abordado en clase y en los apartados de afianzamiento de conocimientos ¿Cuál es tu estilo de
      negociación?</strong></p>
  <p>Creo que dependiendo el caso sería cualquiera de los 5 estilos vistos pero, en general soy competitivo y
    comprometido. Aunque ambos estilos pueden contradecirse, la ocasión es la que dictamina qué estilo debería aplicar y
    a lo largo de mi vida son los que más me representan.</p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 9. INICIATIVA Y TOMA DE DECISIONES</h3>
  <p><strong>1. Para esta semana los invito a ver el siguiente recurso de BBVA sobre Filosofía para cuestionar el
      mundo que nos
      rodea con el Dr. José Carlos Ruiz, filósofo y profesor y realice una reflexión personal sobre el video en
      relación con la iniciativa y la toma de decisiones. Link del vídeo: <a
        href="https://www.youtube.com/watch?v=u2G5hSsC1UI" target="_blank"
        rel="noopener">https://www.youtube.com/watch?v=u2G5hSsC1UI</a></strong></p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 10. FLEXIBILIDAD Y ADAPTACIÓN AL CAMBIO</h3>
  <p><strong>Para trabajar un poco sobre las flexibilidad y la adaptación al cambio en términos de los contextos
      laborales,
      las habilidades blandas y las entrevistas de trabajo, los invito a responder a las siguientes preguntas en
      su
      portafolio:</strong></p>
  <p><strong>1. ¿Ha experimentado circunstancias en el último mes que le dificultaron alcanzar sus objetivos? ¿Podría
      dar
      ejemplos de la manera en que estas circunstancias lo influyeron negativamente?</strong></p>
      <p>Considero que tengo una vida tranquila, no rutinaria pero, sí con mucha tranquilidad y en un estado bueno que me permite tener estabilidad emocional y evitar estas circunstancias que influyen negativamente en los aspectos de mi vida.</p>
  <p><strong>2. ¿Alguna vez fue puesto bajo presión con el fin de que cambiara sus planes u opiniones? ¿De qué manera
      le afectó?</strong></p>
      <p>Seguramente en la niñez cuando no entendía muchas cosas pasé por esta situación, no tengo afectaciones por estos casos y hoy en día siendo adulto nunca me he sentido en esa posición.</p>
  <p><strong>3. Describa una situación en la que otra persona se negó a hacer lo que usted quería. ¿Qué hizo para
      lograr que esta persona hiciera lo que usted necesitaba?</strong></p>
  <p>En general cuando alguien no hace lo que uno quiere hay que buscar la forma de negociar, persuadir a esa persona y
    convencerla, escucharla también es importante porque también puede ser el caso en que yo esté errado y se deba hacer
    lo que esta persona quiere y por ende no hará caso a mis instrucciones.</p>
  <p><strong>4. ¿Se adapta fácilmente a los cambios? ¿Podría dar unos pocos ejemplos que ilustren el modo en que usted
      gestiona el cambio?</strong></p>
  <p>La vida siempre te pone en situaciones diferentes; uno de los cambios más grandes por los que he pasado fue cuando
    pasé del colegio a la universidad, me costó adaptarme pero quería el reto, lo asumí y hoy puedo decir que fue duro
    pero se logró adaptar.</p>
  <p><strong>5. ¿Alguna vez te han pedido que hicieras algo que nunca habías hecho? ¿Cuál fue tu reacción? ¿Qué
      aprendiste?</strong></p>
  <p>Hacer cosas que nunca había hecho siempre traerá beneficios, deja un gran aprendizaje y preferiría estar siempre
    haciendo cosas nuevas que quedarme estancado haciendo lo mismo siempre.</p>
  <p><strong>6. Describe una situación en la que hayas adoptado un nuevo sistema, proceso, tecnología o idea muy
      diferente de lo habitual.</strong></p>
  <p>A lo largo de mis años estudiando ingeniería eléctrica he tenido diferentes materias y profesores, cada uno con un
    estilo propio de evaluar y enseñar, para saberlos llevar y aprobar las materias he tenido que crear estrategias y
    métodos que me permitieran concluir de la mejor manera. También cuando comencé en el mundo de la programación y no
    entendía nada, tuve que buscar un modo de entenderlo y por eso estoy donde estoy hoy.</p>
  <p><strong>7. ¿Alguna vez te han pedido que hagas algo que no estaba incluido en la descripción de tu empleo? ¿Cómo
      has manejado la situación? ¿Cuál fue el resultado?</strong></p>
  <p>La verdad no tengo problema en realizar otras labores diferentes a las que se me hayan especificado siempre y
    cuando no atente contra nadie ni nada y sea recompensado de manera justa.</p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 11. HÁBITOS DE VIDA SALUDABLE Y MANEJO DE TENSIONES Y DE ESTRÉS</h3>
  <p><strong>1. Para esta semana los invito a elaborar una infografía con un "PACTO POR LA VIDA Y EL BIENESTAR" con
      ustedes mismos. En este sentido para la elaboración del contenido, deben plantear por lo menos 5
      actitudes/actividades de autocuidado que se configuren como un pacto con ustedes mismos, para que se cuiden,
      para que se amen, para que se consientan y para que den un primer paso para mejorar los hábitos de vida
      saludable. </strong></p>
</section>
<section class="weeks-portfolioSS">
  <h3>PORTAFOLIO SEMANA 12. COMPOSTURA Y ÉTICA PROFESIONAL (DEMOCRACIA, LEGISLACIÓN Y CIUDADANÍA DESDE UNA PERSPECTIVA
    DEL PENSAMIENTO CRÍTICO EN EL
    CAMPO LABORAL)</h3>
  <p><strong>1. Para esta semana los invito a que juntos construyamos un muro sobre normatividad vigente para nuestro
      campo de acción desde la Ruta formativa que estamos cursando (Producción Musical/ Desarrollador Full Stack)
      y en general para nuestro bienestar personal (Salud, educación, empleabilidad y derechos fundamentales).
      Para ello haremos uso de la herramienta Padlet. Una vez finalizada la actividad, tomar una captura de
      pantalla y adicionarlo al Portafolio.</strong></p>
      <img class="mural" src="../../../assets/images/Mural.png" alt="Mural realizado en la clase de habilidades blandas">
      <p><i>Mural realizado en la clase 12.</i></p>
</section>
