<h1>Portafolio habilidades blandas 2</h1>
<section class="intro-portfolioSS">
    <p>
        En este portafolio se realizan las reflexiones y los aprendizajes acerca de lo que se va aprendiendo en cada
        una de las temáticas abordadas en cada encuentro sincronico del curso habilidades blandas que hace parte de
        la ruta como desarrollador full stack la cual me encuentro realizando, esto permitirá ir fortaleciendo
        algunas competencias como lo son la comunicación escrita y el pensamiento crítico.
    </p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 2. COMPETENCIAS CIUDADANAS</h3>
    <p><strong>1. Para esta semana les propongo elaborar un esquema donde puedan nombrar las competencias ciudadanas,
            conceptualizarlas y resaltar la importancia de adquirir dicha competencia (¿Por qué es importante aprenderla
            y aprehenderla?). Para ello pueden elaborar un mapa conceptual, un mapa mental, un cuadro sinóptico o
            cualquier otro recurso que le permita llevar a cabo la elaboración del producto solicitado.</strong></p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 3. EMPATÍA Y VALORACIÓN DE LAS DIFERENCIAS</h3>
    <p><strong>1. Para elaborar el portafolio de esta semana, los invito a tomarse un tiempo de descanso al lado de los
            que aman y a compartir una tarde de película con ellos, para ello los invito a revisar el siguiente recurso
            <a
                href="https://saposyprincesas.elmundo.es/cine-ninos/peliculas-recomendadas/peliculas-para-aprender-a-respetar-a-los-demas/">PELÍCULAS
                PARA APRENDER A VALORAR LA DIFERENCIA</a> donde encontrarán una serie de recomendaciones de películas
            relacionadas con la temática que nos ocupa ésta semana. Elijan una y disfrútenla.
        </strong></p>
    <p>
        <strong>2. Posteriormente deben elaborar una reflexión sobre el filme seleccionado realizando un escrito que
            contenga
            un breve resumen de la película, un análisis sobre las situaciones que generaron conflictos ante la
            diferencia y una reflexión personal sobre la empatía y el respeto por los otros y por lo otro. </strong>
    </p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 4. NETWORKING E INTERACCIÓN PERSONAL</h3>
    <p><strong>1. Para esta semana les propongo realizar una actividad sobre interacción personal que consiste en
            participar en el foro con un pequeño video sobre quienes somos, a que nos dedicamos y qué servicio podríamos
            ofrecer (habilidades personales/profesionales). Bien dicen por ahí que lo malo no es no saber sino no tener
            el contacto del que sabe.
        </strong></p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 5. TRABAJO EN EQUIPO</h3>
    <p><strong>1. Para esta semana les propongo que la actividad la realicemos en clase, para ello conformaremos algunos
            grupos (Según la cantidad de asistentes) y desarrollaremos una serie de construcciones didácticas y
            creativas con respecto a temáticas de interés que se seleccionen en el grupo. Es importante que tengan en
            cuenta que, durante la clase dispondremos de un tiempo para la exposición de los trabajos y que estos, deben
            ser alojados por cada integrante en su portafolio personal.
        </strong></p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 6. NETWORKING E INTERACCIÓN PERSONAL</h3>
    <p><strong>Cordial saludo queridos estudiantes. Para esta semana elaboramos una infografía y la consignamos en el
            portafolio con las siguientes reflexiones:</strong></p>
    <p><strong>1. Definir el concepto de Liderazgo.</strong></p>
    <p><strong>2. Características de un líder.</strong></p>
    <p><strong>3. ¿Cómo podemos desarrollar y/o potencializar la competencia de liderazgo? (TIPS)</strong></p>
</section>