textarea {
  min-height: 250px;
  margin-top: 10px;
}

textarea:focus {
  outline: none;
}

.send-buttons {
  display: flex;
  justify-content: center;
}

.send-button {
  background-color: #457B9D;
  color: #F1FAEE;
  border: solid 2px #1D3557;
  border-radius: 10px;
  font-weight: bold;
}

.send-button:hover {
  background-color: #F1FAEE;
  color: #1D3557;
}
