<h1>Guía para Age Of Empires II-Definitive Edition</h1>
<section class="cheats">
    <h3>Trucos</h3>
    <p>Para realizar los trucos debes presionar la tecla enter y escribir el truco que deseas realizar.</p><br>
    <ul class="cheats-list">
        <li><strong>cheese steak jimmy's: </strong>añade 1000 unidades de comida.</li><br>
        <li><strong>robin hood: </strong>añade 1000 unidades de oro.</li><br>
        <li><strong>rock on: </strong>añade 1000 unidades de piedra.</li><br>
        <li><strong>lumberjack: </strong>añade 1000 unidades de madera.</li><br>
        <li><strong>aegis: </strong>las construcciones y creaciones se dan de inmediato.</li><br>
        <li><strong>how do you turn this on: </strong>crea un auto que lanza piedras.</li><br>
        <li><strong>wimpywimpywimpy: </strong>suicidio.</li><br>
        <li><strong>natural wonders: </strong>permite controlar a los animales.</li><br>
        <li><strong>marco: </strong>mostrar el mapa completo.</li><br>
        <li><strong>polo: </strong>quita toda la niebla.</li><br>
        <li><strong>resign: </strong>perder la partida inmediatamente.</li><br>
        <li><strong>i r winner: </strong>victoria instantánea.</li><br>
        <li><strong>black death: </strong>matar a todos los oponentes.</li><br>
        <li><strong>torpedo(1-8): </strong>matar al oponente indicado (debes indicar el número del jugador).</li><br>
        <li><strong>to smithereens: </strong>crea un saboteador.</li><br>
        <li><strong>i love the monkey head: </strong>obtienes la unidad "Villager Male Dave Lewis".</li><br>
        <li><strong>woof woof: </strong>crea un perro volador con capa.</li><br>
        <li><strong>furious the monkey boy: </strong>crea monos súper destructores de edificios.</li><br>
    </ul>
</section>
<section class="civilizations">
    <h3>Civilizaciones</h3>
    <p>A continuación se encuentran todas las civilizaciones del juego, su tipo, bonificaciones de la
        civilizcaión,
        tecnologías únicas y las bonificaciones de equipo.</p><br>
    <div class="civilization">
        <h4>Aztecas</h4>
        <p><b>Tipo: </b>infantería y monjes.</p>
        <p><b>Bonificaciones: </b>aldeanos cargan 3 unidades más. | Unidades militares se crean un 11% más
            rápido. |
            Monjes obtienen +5 puntos de resistencia por cada tecnología desarrollada en el monasterio. |
            Comienzan
            con +50 unidades de oro. </p>
        <p><b>Tecnologías únicas: </b><b>Átlat: </b>+1 ataque, +1 alcance hostigadores. | <b>Guerras floridas:
            </b>+4
            ataque para Infantería.
        </p>
        <p><b>Bonificaciones de equipo: </b>Reliquias generan un 33% más de oro.</p><br>
    </div>
    <div class="civilization">
        <h4>Bengalíes</h4>
        <p><b>Tipo: </b>naval y elefantes.</p>
        <p><b>Bonificaciones: </b>las Unidades en elefante reciben -25% de daño y son más resistentes a la
            conversión. | Los Centros Urbanos generan 2 Aldeanos cuando se avanza a la siguiente Edad. | Los
            barcos
            regeneran 15 PR por minuto. | Los monjes obtienen +3/+3P de armadura.</p>
        <p><b>Tecnologías únicas: </b><b>Paiks: </b>los rathas y los jinetes de elefantes atacan un 20% más
            rápido.
            |
            <b>Mahãyãna: </b>los aldeanos ocupan un 10% menos de espacio de población.
        </p>
        <p><b>Bonificaciones de equipo: </b>Las unidades de comercio proporcionan un 10% de comida además de
            oro.</p><br>
    </div>
    <div class="civilization">
        <h4>Bereberes</h4>
        <p><b>Tipo: </b>naval y caballería.</p>
        <p><b>Bonificaciones: </b>Aldeanos se mueven un 10% más rápido. | Unidades creadas en establos cuestan
            un
            -15% en Edad de los Castillos, -20% en Edad Imperial. | Barcos se mueven un 10% más rápido.</p>
        <p><b>Tecnologías únicas: </b><b>Alcazabas: </b>castillos de todo el equipo funcionan un 25% más rápido.
            |
            <b>Camellos magrebíen: </b>Unidades a camello regeneran.
        </p>
        <p><b>Bonificaciones de equipo: </b>Escaramuzador zenete disponible en galería de tiro con arco a partir
            de
            la Edad de los Castillos.</p><br>
    </div>
    <div class="civilization">
        <h4>Birmanos</h4>
        <p><b>Tipo: </b>monjes y elefantes</p>
        <p><b>Bonificaciones: </b>Tecnologías de campamento maderero gratis. | Infantería obtiene +1 de araque
            en
            cada edad (a partir de la Edad Feudal). | Elefantes de combate: +1/+1P de armadura. | Las
            tecnologías
            del
            monasterio cuestan un 50% menos.</p>
        <p><b>Tecnologías únicas: </b><b>Howdah: </b>Elefantes de combate +1/+1P de armadura | <b>Caballería
                manipur: </b>La caballería cuenta con +5 de ataque contra arqueros.</p>
        <p><b>Bonificaciones de equipo: </b>reliquias visibles en el mapa desde el inicio del juego.</p><br>
    </div>
    <div class="civilization">
        <h4>Bizantinos</h4>
        <p><b>Tipo: </b>defensa.</p>
        <p><b>Bonificaciones: </b>edificios +10% PR en Alta Edad Media, +20% en Edad Feudal, +30% en Edad de los
            Castillos, +40% en Edad Imperial. | Jinetes de camello, hostigadores, piqueros y alabarderos cuestan
            -25%
            | Barcos incendiarios atacan 25% más rápido. | Avanzar a la Edad Imperial cuesta -33%. | Guardia y
            patrulla urbana gratuitas.</p>
        <p><b>Tecnologías únicas: </b><b>Fuego griego: </b>barcos incendiarios +1 de rango. | <b>Logística:
            </b>las
            catrafactas arrasan a su paso.</p>
        <p><b>Bonificaciones de equipo: </b>monjes sanan unidades un 100% más rápido.</p><br>
    </div>
    <div class="civilization">
        <h4>Bohemios</h4>
        <p><b>Tipo: </b>pólvora y asedio.</p>
        <p><b>Bonificaciones: </b>las herrerías y las universidades cuestan 100 menos de madera. | Química y
            artillero de mano disponibles en la Edad de los Castillos. | La línea de lanceros inflinge un 25%
            más de
            daño. | El fervor y la santidad afectan a los aldeanos. | Las tecnologías de los campamentos mineros
            son
            gratuitas.</p>
        <p><b>Tecnologías únicas: </b><b>Tácticas de fuerte de carretas: </b>las unidades con pólvora se mueven
            un
            15%
            más rápido. | <b>Reformas husitas: </b>el coste de oro de los monjes y de las tecnologías de
            monasterio se reemplaza por comida.</p>
        <p><b>Bonificaciones de equipo: </b>Los mercados funcionan un 80% más rápido.</p><br>
    </div>
    <div class="civilization">
        <h4>Borgoñeses</h4>
        <p><b>Tipo: </b>caballería.</p>
        <p><b>Bonificaciones: </b>mejoras económicas disponibles una edad antes y por un 40% menos de comida.|
            Las
            tecnologías de los establos cuestan un 50% menos. | Mejora a caballeros disponible en la Edad de los
            Castillos. | Unidades de pólvora 25% más de ataque.</p>
        <p><b>Tecnologías únicas: </b><b>Viñedos de borgoña: </b>los agricultores generan oro gradualmente
            además de
            comida. | <b>Revolución flamenca: </b>mejora a todos los aldeanos existentes a milicia flamenca y se
            crean milkicias flamencas en los centros urbanos.</p>
        <p><b>Bonificaciones de equipo: </b>las reliquias generan oro y alimento.</p><br>
    </div>
    <div class="civilization">
        <h4>Britanos</h4>
        <p><b>Tipo: </b>arqueros a pie.</p>
        <p><b>Bonificaciones: </b>Centros urbanos cuestan un 50% menos de madera a partir de la Edad de los
            Castillos. | Arqueros a pie (excepto hostigadores) +1 de alcance en la Edad de los Castillos y la
            Edad
            Imperial (+2 en total). | Pastores trabajan un 25% más rápido.</p>
        <p><b>Tecnologías únicas: </b><b>Yeomen: </b>arqueros a pie +1 de alcance, torres +2 de ataque. |
            <b>Warwolf: </b>lanzapiedras causan daño sobre mayor área.
        </p>
        <p><b>Bonificaciones de equipo: </b>galerías de tiro con arco trabajan un 20% más rápido.</p><br>
    </div>
    <div class="civilization">
        <h4>Búlgaros</h4>
        <p><b>Tipo: </b>infantería y caballería.</p>
        <p><b>Bonificaciones: </b>Mejoras en la línea de milicia gratis. | Centros urbanos cuestan -50% de
            piedra. |
            Tecnologías de herrería y taller de maquinaría cuestam -50% de comida. | Pueden construir el
            Krepost.
        </p>
        <p><b>Tecnologías únicas: </b><b>Estribos: </b>caballería ataca 33% más rápido. | <b>Bagains: </b>línea
            de
            milicia +5 de armadura.</p>
        <p><b>Bonificaciones de equipo: </b>herrerías trabajan 80% más rápido.</p><br>
    </div>
    <div class="civilization">
        <h4>Celtas</h4>
        <p><b>Tipo: </b>infantería y asedio.</p>
        <p><b>Bonificaciones: </b>infantería es un 15% más rápida (a partir de la Edad Feudal). | Leñadores
            trabajan
            un 15% más rápido. | Armas de asedio disparan un 25% más rápido. | Se pueden robar obejas y las
            ovejas
            en LDV de una unidad celta no se pueden robar.</p>
        <p><b>Tecnologías únicas: </b><b>Basrión: </b>castillos y torres disparan un 25% más rápido. | <b>Furor
                celta: </b>+40 puntos de resistencia para unidades de taller de maquinaria de asedio.</p>
        <p><b>Bonificaciones de equipo: </b>talleres de maquinaria de asedio funcionan un 20% más rápido.</p>
        <br>
    </div>
</section>
