<header>
  <nav class="nav-header">
    <a routerLink="/home" id="name" class="name">SANTIAGO R. P.</a>
    <button class="nav-toggle" aria-label="Open menu">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu">
      <li class="nav-menu-item"><a id="about-me" routerLink="/about-me">Sobre mí</a></li>
      <li class="nav-menu-item"><a id="my-projects" routerLink="my-projects">Mis proyectos</a></li>
      <li class="nav-menu-item"><a id="blog" routerLink="blog">Blog</a></li>
      <li class="nav-menu-item"><a id="contact" routerLink="contact">Contacto</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<section class="select-language">
    <img id="USA"src="../../assets/images/Estados_Unidos.png">
    <img  id="Colombia" src="../../assets/images/Colombia.png">
</section>
<footer>
  <div class="footer-info">
      <div class="colum1-footer">
          <h1 id="purpose">Objetivo de la página</h1>
          <p id="purpose-description">Este es un portaolio creado por Santiago Ramírez Pérez para mostrar sus
              proyectos y sus habilidades
              como programador</p>
      </div>
      <div class="colum2-footer">
          <h1 id="social-networks">Redes Sociales</h1>
          <div class="row-footer">
              <a href="https://www.linkedin.com/in/santiagoramirezperez/" target="_blank"><img
                      src="../../assets/images/linkedin.png" alt="" /></a>
              <label>/santiagoramirezperez</label>
          </div>
          <div class="row-footer">
              <a href="https://www.facebook.com/s.ramirezp10" target="_blank"><img src="../../assets/images/facebook.png"
                      alt="" /></a>
              <label>/s.ramirezp10</label>
          </div>
          <div class="row-footer">
              <a href="https://www.instagram.com/s_ramirezp10/ " target=" _blank"><img
                      src="../../assets/images/instagram.png" alt="" /></a>
              <label>@s_ramirezp10</label>
          </div>
          <div class="row-footer">
              <a href="https://www.tiktok.com/@s.ramirezp10" target="_blank"><img src="../../assets/images/tiktok.png"
                      alt="" /></a>
              <label>@s.ramirezp10</label>
          </div>
          <div class="row-footer">
              <a href="https://twitter.com/s_ramirezp10" target="_blank"><img src="../../assets/images/twitter.png"
                      alt="" /></a>
              <label>@s_ramirezp10</label>
          </div>
      </div>
      <div class="colum3-footer">
          <h1 id="contact-information">Información de contacto</h1>
          <div class="row-footer">
              <img src="../../assets/images/ubicacion.png" alt="" />
              <label>Medellín, Colombia</label>
          </div>
          <div class="row-footer">
              <a href="https://api.whatsapp.com/send?phone=573503783575" target="_blank"><img
                      src="../../assets/images/whatsapp.png" alt="" /></a>
              <label>+57-3503783575</label>
          </div>
          <div class="row-footer">
              <img src="../../assets/images/gmail.png" alt="" />
              <label>santiagoramirezperez96</label>
          </div>
          <div class="row-footer">
              <a href="https://github.com/santiagoramirez10" target="_blank"><img src="../../assets/images/github.png"
                      alt="" /></a>
              <label>/santiagoramirez10</label>
          </div>
          <div class="row-footer">
              <a href="https://www.youtube.com/@s_ramirezp10" target="_blank"><img src="../../assets/images/youtube.png"
                      alt="" /></a>
              <label>@s_ramirezp10</label>
          </div>
      </div>
  </div>
  <div class="copyright">
      <p id="copyright">© 2023 Todos los Derechos Reservados | Santiago Ramírez Pérez</p>
  </div>
</footer>