<div class="tutorial-title">
    <img src="../../../assets/images/python.png">
    <div class="tutorial-description">
        <h3>Cómo crear una fecha y hora aleatoria en Python</h3>
        <h6>Última actualización: 29 junio 2023</h6>
    </div>
</div>
<article>
    <p>Cuando estás usando Google Colab para un proyecto de cualquier tipo, en cualquier momento te encontrarás con el
        reto de subir datasets directamente al Colab sin tener que descargarlos en tu computador antes y subirlos
        manualmente.</p>
    <p>Si estás trabajando en una competencia de la página Kaggle, donde hay cientos de desafíos para trabajar con
        ciencia de datos, esto te servira. Con este código podrás subir los archivos de la competencia en tan solo unos
        clicks, ahorrando de esta manera tiempo y espacio, además de que si debes compartir el código con otras
        personas, estas no tendrán que descargar los archivos sino simplemente seguir unos pasos breves.</p>
    <ol>
        <li>
            <p>Si no tienes una cuenta en Kaggle deberás crearla, es muy sencillo crearla, te puedes registrar usando tu
            cuenta de Google o crearla desde 0 con tu correo electrónico.</p>
        </li>
        <li>
        <p>Una vez hayas creado tu cuenta o hayas ingresado con una ya existente, vamos a ir al apartado de API.</p>
        </li>
    </ol>
</article>