.my-blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog {
  margin: 10px;
}

.my-blogs .card {
  border-color: #1D3557;
  background-color: #A8DADC ;
  height: 100%;
}

.my-blogs img{
  transition: transform 0.5s ease;
  border-radius: 5%;
}


.my-blogs img:hover {
  transform: scale(1.1);
}


.blog-content {
  padding: 15px;
}

.blog-content .author-img {
  width: 25px;
  height: 25px;
}

.blog-content .author-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

