<h1>Blog</h1>
<section class="my-blogs">
  <div class="blog" *ngFor="let Blog of Blogs">
    <div class="card" style="width: 18rem;">
      <div class="blog-content">
        <a routerLink={{Blog.link}}><img src={{Blog.image}} class="card-img-top"
            alt={{Blog.alt}}></a>
        <div class="card-body">
          <h5 class="card-title">{{Blog.title}}</h5>
          <p class="card-text">{{Blog.description}}</p>
          <div class="author-info">
            <img class="author-img" src="../../assets/images/Perfil.png" alt="Foto de perfil Santiago Ramírez Pérez">
            <h6>Santiago Ramírez P.</h6>
            <h6>🕒{{Blog.date}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
