<section class="welcome">
  <div class="welcome-message">
    <h1 class="heading">¡Hola!<span class="wave">👋🏻</span></h1>
    <h2>Soy Santiago Ramírez Pérez</h2>
    <h3 id="description-index">Desarrollador de software|Desarrollo fullstack|Gestión de datos|Automatización con
      Arduino|Estudiante Ingeniería Eléctrica</h3>
  </div>
  <div class="welcome-img">
    <img src="../../assets/images/Perfil.png" alt="Santiago Ramírez Pérez">
  </div>
  <div class="introduction">
    <p>
      Bienvenido a mi portafolio web, este espacio es un reflejo de mi viaje en el mundo de la tecnología, donde la creatividad y la innovación se entrelazan para dar vida a proyectos en diversos lenguajes y aplicaciones. Escribo blogs sobre programación y videojuegos que son mis pasatiempos y busco compartir mi conocimiento mientras aprendo de los demás.
    </p>
    <p>
      En la sección <a routerLink="/about-me"><i><strong>Sobre mí</strong></i></a> podrás conocer más sobre la persona detrás de la pantalla. Desde mi formación académica hasta mi experiencia laboral, esta sección te brindará una visión completa de mi viaje profesional. Cada paso ha sido una oportunidad para aprender y crecer, y estoy emocionado de compartirlo con el mundo.
    </p>
    <p>
      En <a routerLink="/my-projects"><i><strong>My projects</strong></i></a> se encuentran por categoría los proyectos que he realizado, desde análisis de datos hasta desarrollo web y proyectos en Arduino relacionados con automatización y medición de sensores. Allí hay una breve descripción de cada proyecto y el link de acceso al repositorio de Github para conocer el código y de más archivos que serán útiles para los interesados.
    </p>
    <p>
      <a routerLink="/blog"><i><strong>Blog</strong></i></a> es ese espacio donde puedo compartir mis conocimientos y pensamientos sobre diversos temas, allí se encuentran tutoriales y tips para llevar a cabo proyectos relacionados con la programación, además es mi espacio personal donde puedo compartir sobre mis videojuegos favoritos.
    </p>
  </div>
</section>
<h2 id="latest-projects">Proyectos</h2>
<section class="latest-projects">

</section>
<section class="latest-videos">
  <h2 id="latest-videos">Tutoriales de YouTube</h2>
</section>
