<h1>Portafolio habilidades blandas</h1>
<section class="intro-portfolioSS">
    <P>
        En este portafolio se realizan las reflexiones y los aprendizajes acerca de lo que se va aprendiendo en cada
        una de las temáticas abordadas en cada encuentro sincronico del curso habilidades blandas que hace parte de
        la ruta como desarrollador full stack la cual me encuentro realizando, esto permitirá ir fortaleciendo
        algunas competencias como lo son la comunicación escrita y el pensamiento crítico.
    </P><br>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 2. DESARROLLO PERSONAL Y PROFESIONAL</h3>
    <p><b>1. ¿Quién eres?, ¿quién quieres llegar a ser?, ¿qué quisieras hacer y qué has dejado de hacer para lograr
            tus metas?</b></p>
    <p>Empezaré por mi nombre, soy Santiago Ramírez Pérez, tengo 25 años. Soy estudiante de ingeniería eléctrica y
        programador. En el ámbito personal, soy hijo, novio, primo y amigo. Soy buena persona y por sobre todo soy
        una persona agradecida.
    </p>
    <p> Antes que ingeniero quiero seguir formándome como una persona integra, seguir creciendo en valores y cada
        día aprender sobre los errores. A corto plazo quiero titularme como ingeniero y ser reconocido como un gran
        programador. Quiero ser padre y abuelo y por último me gustaría aprender karate que es algo que, aunque
        desde hace mucho he querido, no he podido comenzar a hacerlo.
    </p>
    <p> Para lograr mis metas necesito compromiso, sacrificios, pero más importante es la determinación en mi caso,
        estoy decidido a lograrlo y eso es lo que más me ha llevado a conseguir mis logros.
    </p><br>
    <p><b>2. Parte de conocerse a sí mismo también implica conocer las habilidades y destrezas personales, las
            propias limitaciones, las oportunidades y las amenazas. Realizar matriz DOFA y rellenar las tablas.</b>
    </p><br>
    <table class="skills">
        <tr>
            <th>Conocimientos que poseo</th>
            <th>Habilidades que poseo</th>
            <th>Actitudes que poseo</th>
        </tr>
        <tr>
            <td>Circuitos eléctricos</td>
            <td>Liderazgo</td>
            <td>Ser sentimental</td>
        </tr>
        <tr>
            <td>Programación en Python y Arduino</td>
            <td>Hablar en público</td>
            <td>Ser sincero</td>
        </tr>
        <tr>
            <td>Matemáticas</td>
            <td>Rápido aprendizaje</td>
            <td>Ser desconfiado</td>
        </tr>
        <tr>
            <td>Funcionamiento de computadores</td>
            <td>Lógica matemática</td>
            <td>Ser callado</td>
        </tr>
        <tr>
            <td>Videojuegos</td>
            <td>Expresión de sentimientos</td>
            <td>Ser serio</td>
        </tr>
        <tr>
            <td>Creación de contenido</td>
            <td>Poder de convencimiento</td>
            <td>Ser enojón</td>
        </tr>
    </table>
    <br><br>
    <table class="skills">
        <tr>
            <th>Conocimientos por desarrollar</th>
            <th>Habilidades por desarrollar</th>
            <th>Actitudes por desarrollar</th>
        </tr>
        <tr>
            <td>Continuar aprendiendo sobre circuitos eléctricos</td>
            <td>Apertura hacia los demás</td>
            <td>Comprender que no todo es personal</td>
        </tr>
        <tr>
            <td>Desarrollo web</td>
            <td>Paciencia</td>
            <td>Escoger diferentes palabras para no ser cruel</td>
        </tr>
        <tr>
            <td>Mantenimiento de computadores</td>
            <td>Relaciones interpersonales</td>
            <td>No juzgar sin saber</td>
        </tr>
        <tr>
            <td>Bases de datos</td>
            <td>Compostura</td>
            <td>Socializar un poco más</td>
        </tr>
        <tr>
            <td>Marketing personal</td>
            <td>Manejo del tiempo</td>
            <td>Ser más sonriente</td>
        </tr>
        <tr>
            <td>Todo acerca del Karate</td>
            <td>Empatía</td>
            <td>No preocuparme por pequeñeces</td>
        </tr>
    </table>
    <br><br>
    <p><b>3. Autorretrato.</b></p><br>
    <div class="autorretrato">
        <img src="../assets/images/autorretrato.png">
        <img class="convencionesar" src="../assets/images/convencionesar.png">
    </div>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 3. AUTOCONOCIMIENTO, INTELIGENCIA EMOCIONAL, HABILIDADES PERSONALES Y PROYECTO DE VIDA
    </h3>
    <p><b>1. ¿Por qué es importante el autoconocimiento y para qué podría servirnos esto en las diferentes esferas
            de nuestra vida (Relacional, Afectiva, Intelectual-académica, Laboral y personal)?</b></p>
    <p>Es importante porque nos ayuda a mejorar nuestro bienestar emocional; permite descubrir lo que queremos en
        nuestra vida
        y nos permite conocer nuestros límites, ventajas, fortalezas, debildiades y demas. Conocemos también lo que
        causan nuestras
        emociones en las demas personas, podemos entonces aprovechar esto para sacar provecho de situaciones en las
        cuales necesitaríamos
        otro tipo de habilidades para obtener lo deseado. Es importante conocernos porque nos ayudará en todos los
        aspectos de la vida
        y sabiendo nuestras capacidades podemos aspirar a lograr grandes retos a lo largo de nuestras vidas.
    </p><br>
    <p><b>2. Revisa el apartado de contenido sobre “Sesgos Cognitivos”, reflexiona de manera personal y describe por
            lo menos tres (3) con los que te sientas identificado/a así como posibles estrategias para transformar
            esto en tu vida.</b></p>
    <p>Efecto halo: creo que me ocurre mucho esto y soy consciente cada que sucede, también es cierto que no lo veo
        como
        un problema grande entonces no he tomado una postura de querer cambiar esto.
    </p>
    <p>Cinismo ingenuo: parte de ser desconfiado es esto, dependiendo de la persona pienso que la gente no hace nada
        gratis,
        siempre habrá algo que ganar y qué perder en cualquier situación de la vida.
    </p>
    <p>Efecto Forer: tengo muchas costumbres y agüeros que considero como parte de la cultura de mi ciudad y no he
        tenido ningún
        problema por estas "creencias"</p>
    <p>Declinismo o Retrospección idílica: creo que hoy en día se han perdido muchas buenas costumbres pero no sé a
        quién atribuir estos
        cambios.
    </p>
    <p>Falacia del apostador: parte de mi es el no querer perder nunca, y aunque soy buen perdedor también, hay
        ocasciones
        en las que sí he sentido que debí dejar de intentarlo mucho antes, en algunas veces por no dejar de intentar
        he ganado también,
        pero de eso se trata la vida, de ganar y perder.
    </p>
    <br>
    <p><b>3. Realiza una reflexión donde relaciones los conceptos trabajados la clase de hoy (Autoconocimiento,
            Inteligencia Emocional, habilidades personales, Sesgos Cognitivos y Proyecto de vida).</b></p>
    <p>Los 5 conceptos tienen que ver todos entre sí. Lo fundamental es el autoconocimiento, a partir de él podemos
        tomar decisiones sobre nuestro futuro, conocer nuestras habilidades y debilidades y a partir de ahí tomar
        decisiones que ayuden a mejorar nuestra inteligencia emocional. Los sesgos son importantes reconocerlos pues
        debemos mejorar si es necesario para obtener mejor calidad de vida, no solo en el ámbito personal sino
        también en muchas ocasiones en lo laboral. Al final de hacer una buena reflexión podemos ir mejorando el
        proyecto de vida y darnos cuenta de que podemos alcanzar mayores metas si hacemos lo correcto.</p><br>
    <p><b>4. Pregúntale al menos a un familiar y a un amigo/a sobre 3 habilidades y/o virtudes que te caractericen
            y por lo menos 1 defecto en el que tengas que trabajar.</b></p>
    <p>Familiar: las virtudes que ve en mi son amoroso, respetuoso,inteligente y debo trabajar en la interacción con
        otras personas, la mayoría de veces soy muy serio.</p><br>
    <p>Amigo: las virtudes que ve en mi son inteligente, creativo, respetuoso y debo trabajar en la manera de decir
        las cosas.</p>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO 4. MARKETING PERSONAL, NETWORKING E INTERACCIÓN PERSONAL</h3>
    <p><b>1. ¿Por qué es importante la interacción personal y cómo podemos mejorar en este aspecto?</b></p>
    <p>Sin duda la interacción personal es importante porque uno solo no puede contra el mundo, para alcanzar el
        éxito se necesita de buenas personas a nuestro lado que nos ayude a conseguir lo que queremos. Es importante
        también ayudar a los demás para que alcancen también sus metas y para mí, es una especie de colaboración en
        la que todos podemos salir adelante y la forma de agradecer es ayudando a otros.</p>
    <p>En mi caso, debo mejorar en la empatía, muchas veces podemos llenarnos de prejuicios sin saber realmente el
        fondo del asunto, también el tema de la confianza, la mayoría de veces desconfío de las personas hasta que
        se demuestre que puedo confiar en ellos, tal vez podría intentarlo al revés.</p><br>
    <p><b>2. ¿Qué es el Marketing Personal?</b></p>
    <p>El marketing personal es una estrategia en donde vendes tu imagen, esto va tomado de la mano de la marca, ya
        que es nuestra cara visible, lo que los demás ven y pueden juzgar acerca de lo que somos y hacemos.</p><br>
    <p><b>3. ¿Cómo crees que podrías "Marketearte" de una forma eficiente? (tips para darse a conocer y para
            posicionarse en el mercado o para sobresalir en una entrevista laboral).</b></p>
    <p>Según mi poca experiencia en entrevistas y mercado, ser seguros de sí mismos sin hablar de más, es decir,
        siendo sinceros, mostrando lo que somos, mostrando los logros que para nosotros pueden ser pequeños pero en
        realidad son importantes; mostrar respeto e interés también es una forma de llamar la atención, de vender
        una buena imagen de lo que somos. Lo más importante es generar confianza y esto se logra con sinceridad,
        muchas veces con nuestras expresiones lo decimos todo.</p><br>
    <p><b>4. De manera breve, desarrolla un plan de marketing personal.</b></p>
    <p>Es importante trazar los objetivos, a dónde queremos llegar y en cuánto tiempo. Luego de tener los objetivos
        construir mi marca, hacer que mi nombre destaque y ser reconocido por los logros obtenidos y las metas
        cumplidas. Es importante trabajar en nosotros mismos, pues es como nos ven los demás y es la manera en que
        podemos construir un valor de marca, hay que saber qué brindar y a quiénes, puesto que no todos necesitarán
        lo mismo ni nos verán de la misma manera. Esta página web en la que se encuentra este portafolio es un
        ejemplo de lo que quiero realizar y de lo que estoy haciendo en estos momentos para conseguirlo.</p><br>
    <p><b>5. Elabora un perfil en Linkedin para comenzar a explorar el mundo del networking.</b></p>
    <p>Este es mi <a href="https://www.linkedin.com/in/santiagoramirezperez/" target="_blank">perfil</a> de
        Linkedin.</p><br>
</section>
<section class="weeks-portfolioSS">
    <h3>PORTAFOLIO SEMANA 5. COMUNICACIÓN Y LENGUAJE (VERBAL, NO VERBAL Y ESCRITO)</h3>
    <p><b>1. Define los conceptos de Comunicación verbal y Comunicación no Verbal con sus principales
            características.</b></p>
    <p>En la comunicación verbal tenemos 2 tipos, oral y escrita.</p>
    <p>En la comunicación oral tenemos como características la velocidad con la que hablamos y la proyecctión de la
        voz; es importante tener en cuenta estas 2 características, puesto que del uso de ambas depende que nuestro
        mensaje sea bien recibido, siempre hay que cuidar el tono de la voz y también la velocidad dependiendo de
        con quien se hable y lo que se quiera transmitir.</p>
    <p>En la comunicación escrita siempre tenemos un medio físico por el cual el mensaje es transmitido. Ya que
        tiene un medio físico, el mensaje puede perdurar en el tiempo, se deben respetar las reglas gramaticales y
        las grandes distancias no son un impedimento para este tipo de comunicación.</p>
    <p>La comunicación no verbal es aquella que complementa las palabras y está determinada por gestos, de la cara,
        las manos y en general cualquier postura puede decir mucho. La sonrisa y la forma de mirar son
        caracterísitcas principales de este tipo de comunicación ya que es lo que generalmente más observamos cuando
        estamos en contacto con otras personas.</p><br>
    <p><b>2. Según lo trabajado en clase y los recursos complementarios ¿Por qué consideras que es importante
            desarrollar competencias laborales relacionadas con la comunicación verbal, la no verbal y la
            escrita?</b></p>
    <p>Es importante desarrollar estas competencias para tener una comunicación asertiva con quienes tenemos
        contacto, a veces nuestras palabras dicen una cosa y nuestros gestos pueden decir otra. Por otro lado, es
        importante conocer las reglas y demas características de la escritura, puesto que se ve feo cuando
        escribimos de la manera incorrecta y también podemos quedar mal si aspiramos a un mejor puesto entre otras
        razones.</p>
    <p><b>3. Teniendo en cuenta la técnica que cursas actualmente en el IME, ¿Cómo podrías implementar y/o
            potencializar aspectos relacionados con la comunicación verbal, la no verbal y la escrita?</b></p>
    <p>Este curso ha ayudado para mi crecimiento personal y como programador. Con este tipo de componente como lo es
        el de habilidades blandas he podido mejorar mi comunicación escrita, ya que es por este medio es que me
        comunico generalmente para mostrar mis ideas e inquietudes. Por otra parte, en la comunicación verbal
        también he tenido avances, es importante dejar el miedo que muchos cargan y empezar a expresarnos. La
        comunicción no verbal si es un poco más complejo, al ser el curso totalmente virtual y sin prender cámaras
        no hay esa interacción con los demás, de igual manera es importante hacer una autoreflexión y analizar la
        manera en como se ven y se viven las clases.</p><br>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 6. COMUNICACIÓN Y LENGUAJE (COMUNICACIÓN ASERTIVA Y EFECTIVA)</h3>
        <p><b>1. Según lo visto en clase y los videos del material complemetario, ¿qué es la Comunicación Asertiva y
                qué es la comunicación efectiva?</b></p>
        <p>La comunicación asertiva es una habilidad que nos permite dialogar con respeto, expresando lo que decimos
            sin herir los sentimientos de las demas personas; a veces, se tiene un mismo mensaje pero dicho de
            distinta manera y esto puede evitar que se hieran sentimientos.</p>
        <p>La comunicación efectiva busca que la persona que emite el mensaje lo haga de una manera clara, de forma
            directa y que no se preste para confusiones ni distorsiones; la persona que recibe el mensaje procesa la
            información en términos que pueda entender y da la retroalimentación sobre lo que comprendió.</p><br>
        <p><b>2. ¿Cómo se relaciona la Comunicación Asertiva y la comunicación Efectiva?</b></p>
        <p>Dependiendo del contexto pueden ser iguales. Es importante en la comunicación asertiva tener en cuenta
            con quién se está tratando, mientras que en la efectiva siemplemente es decir las cosas como son, sin
            espacio para dudas o especulaciones.</p><br>
        <p><b>3. ¿Para qué nos sirve la comunicación Efectiva/Asertiva dentro de la Organización?</b></p>
        <p>Es importante que dependiendo de la persona se hable de una manera u otra; aunque el mensaje sea el
            mismo, la manera en como lo decimos puede tener una buena o mala recepción, por eso es importante
            conocer y diferenciar estos dos conceptos, no solo en lo laboral, aún más importante en lo personal en
            nuestras relaciones con los demas.</p><br>
        <p><b>4. ¿Cómo puedo desarrollar las competencias laborales relacionadas con la comunicación
                Asertiva/Efectiva?</b></p>
        <p>Conocer las demas personas, sus pensamientos y actitudes frente a diferentes situaciones. Hay que ser
            claros con los mensajes y evitar las especulaciones, cuando se hace una buena comunicación no se dejan
            dudas y se crea confianza, esa que hoy en día está tan perdida y que es tan importante.</p><br>
    </section>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 7. INTELIGENCIA EMOCIONAL Y RESOLUCIÓN DE CONFLICTOS</h3>
        <p><b>1. Define los conceptos de Inteligencia Emocional (IE) y Resolución de Conflictos.</b></p>
        <p>Inteligencia emocional: es un conjunto de habilidades que una persona adquiere por nacimiento o aprende
            durante su vida. Se refiere a la capacidad humana de sentir, entender, gestionar y modificar estados
            emocionales en uno mismo y en las relaciones con los demás.</p>
        <p>Resolución de conflictos: es la manera como dos o más individuos, u organizaciones encuentran una
            solución pacífica a los desacuerdos que enfrentan. Estos desacuerdos pueden ser emocionales, políticos,
            financieros o todos ellos.</p><br>
        <p><b>2. Según lo trabajado en clase y los recursos complementarios ¿Por qué consideras que es importante
                desarrollar habilidades relacionadas con la Inteligencia Emocional y la Resolución de
                Conflictos?</b></p>
        <p>Todas las habilidades que se puedan mejorar son importantes; en este caso, la inteligencia emocional
            permite mejorar nuestra vida y la de los demás, es importante en las relaciones tanto personales como
            laborales, hoy en día es muy común ver memes o chistes sobre la IE y es porque se volvió algo muy
            extraño, muchas personas no la poseen y hacen mucho daño.Por otra parte, los conflictos siempre hay que
            resolverlos, tarde o temprano debemos rendir cuentas y la mejor manera de afrontarlos es teniendo una
            inteligencia emocional sólida.</p><br>
        <p><b>3. ¿Cómo se relaciona la IE y la resolución de Conflictos?</b></p>
        <p>Sin inteligencia emocional no podemos resolver los conflictos, es bueno enfrentar los conflictos porque
            de ellos también vamos a aprender y si somos conscientes debemos mejorar ese aspecto, todos estos
            factores incidirán en el crecimiento de nuestra inteligencia emocional.</p><br>
        <p><b>4. ¿El conflicto es negativo? si/ no, argumenta tu respuesta.</b></p>
        <p>Como todo en la vida, depende. El conflicto nos ayuda a reconocer falencias, aspectos a mejorar; También
            puede ser negativo porque tener muchos conflictos no es sano, la mayoría de estos se pueden evitar si
            solo tuviérmaos más inteligencia emocional. Es importante saber cuáles conflictos tienen prioridad,
            puede que un solo conflicto genere muchos más y con solo resolverlo se solucionen los demás sin
            necesidad de hacer más cosas.</p><br>
        <p><b>5. ¿Cuál o cuáles tipos de conflicto son los que predominan en tu vida y en tus relaciones
                interpersonales y cómo podrías hacer un adecuado abordaje de dicho(s) conflicto(s)? (Describir de
                manera breve y plantear estrategias para el afrontamiento, para ello puede tener en cuenta los
                modelos o formas de abordar los conflictos descritos en el apartado de afianzamiento de
                conceptos).</b></p>
        <p>No creo que haya uno que sea muy importante, pero seguramente predomina el ser desconfiado; la mayoría de
            veces me reservo mis palabras porque no confío en quiénes estén en determinado lugar; por ahora sé que
            es un conflicto pero no veo querer mejorarlo, hasta ahora me ha ido mejor así que sin serlo, es por ello
            que no creo querer o necesitar cambiarlo, hasta el momento.</p><br>
    </section>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 8. INNOVACIÓN, CREATIVIDAD Y ORIGINALIDAD </h3>
        <p><b>1. Define los conceptos de creatividad e innovación.</b></p>
        <p>Creatividad: es la capacidad que se tiene para crear.</p>
        <p>Innovación: es una transformación de ideas.</p><br>
        <p><b>2. ¿Consideras que la creatividad es un don o que puede desarrollarse? (justifica tu respuesta).</b>
        </p>
        <p>Sí, pienso que muchas personas nacen con ese don muy desarrollado, pero, también creo que se puede ir
            desarrollando por algunos hábitos; la lectura es una buena manera de desarrollar creatividad y en
            general todas las artes.</p><br>
        <p><b>3. ¿Qué relación hay entre la creatividad y la innovación?</b></p>
        <p>La creatividad está inmersa en la innovación, cuando se innova se está llevando a cabo un proceso
            productivo que para poder empezar tuvo que venir de la imaginación, de la creatividad. Es la creatividad
            la que abre la puerta para la innovación.</p><br>
        <p><b>4. ¿Por qué sería importante para ti (profesionalmente) desarrollar la creatividad y la
                innovación?</b></p>
        <p>El mundo está en constante cambio, si no aplico la creatividad que tengo y la voy mejorando cada día,
            estaré en el pasado y probablemente esté desconectado del mundo. En todos los aspectos de la vida es
            importante la creatividad, hasta para saber qué regalar a los seres queridos en fechas especiales.</p>
        <br>
        <p><b>5. ¿Por qué necesitan las empresas ser creativas? Y ¿Cómo se construye una cultura creativa en una
                empresa?</b></p>
        <p>Es importante por lo que mencionaba anteriormente, el mundo está en constante cambio y es necesario
            adaptarse al mundo; si las empresas no tienen esas ideas para mejorar día a día entonces llegará otra
            empresa que si lo haga y comenzará a posicionarse mejor en el mercado porque la mayoría de personas sí
            estamos con el objetivo de crear y buscar mejoras para nuestra vida.</p>
        <p>La mejorar manera para construir una cultura creativa en una empresa es incentivando a los trabajadores,
            dándoles charlas, asesorías y otro tipo de acompañamiento en donde ellos se sientan importantes y
            consideren que sus ideas pueden aportar a la empresa. Muchas veces se tienen buenas ideas pero por miedo
            a ser rechazado no se exponen y allí es donde puede fallar una empresa.</p>
    </section>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 9. FLEXIBILIDAD, ADAPTABILIDAD Y ORIENTACIÓN AL CLIENTE</h3>
        <p><b>1. El trabajo propuesto para esta semana consiste en responder la pregunta sobre ¿por qué es
                importante el servicio al cliente? y elaborar un decálogo del servicio al cliente.</b></p>
        <p>El servicio al cliente es lo que marca diferencia entre una y otra empresa; este factor es fundamental
            para reconocer la calidad de las empresas. Nadie vuelve a un lugar donde lo atienden mal.</p>
        <p>Este es en lo personal lo que sería un buen decálogo de servicio al cliente:</p><br>
        <ul class="decalogue">
            <li>1. Escuchar al cliente.</li>
            <li>2. Crear confianza con el cliente.</li>
            <li>3. Estar abierto a cambios.</li>
            <li>4. Comprender las diferentes situaciones de los clientes.</li>
            <li>5. Dar siempre lo mejor en cada producto y/o servicio.</li>
            <li>6. Satisfacer las necesidades que más se puedan.</li>
            <li>7. Mostrar interés en los clientes.</li>
            <li>8. Darle un valor agregado a los productos y/o servicios.</li>
            <li>9. Resolver los problemas de los clientes.</li>
            <li>10. Respetar siempre los deseos y comentarios de los clientes.</li>
        </ul><br>
    </section>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 10. LIDERAZGO, PLANEACIÓN ESTRATÉGICA Y TRABAJO EN EQUIPO</h3>
        <p><b>1. Definir los conceptos de Liderazgo, planeación estratégica y trabajo en equipo.</b></p>
        <p>Liderazgo: es el arte de motivar, comandar y conducir a personas; es la cualidad de una persona para
            estar en la situación de líder.</p>
        <p>Planeación estratégica: es una herramienta organizacional de uso común, se usa para la consecución de una
            meta, previendo posibles inconvenientes y procediendo de acuerdo a la ruta más idónea.</p>
        <p>Trabajo en equipo: es una labor que se lleva a cabo a través de un conjunto de integrantes que tienen un
            objetivo común, aunque cada uno desarrolle sus tareas de forma individual para conseguirlo.</p><br>
        <p><b>2. ¿Cómo podemos desarrollar y/o potencializar la competencia de liderazgo?</b></p>
        <p>Aunque existen muchos tipos de liderazgo, con base en lo visto en clase y en los documentos, el ítme más
            importante para mí es el de servir; debemos mejorar esta cualidad para ser buenos líderes, no solo es
            dirigir, también es entender y apoyar a nuestros compañeros. Otra función importante que nos ayudará a
            ser mejores líderes es la motivación, hacer que crean en nosotros y lo que queremos. Tener empatía
            también nos ayudará a crecer, no solo como líderes sino también como personas íntegras.</p><br>
        <p><b>3. ¿Cuál es la importancia de la planeación estratégica en las organizaciones?</b></p>
        <p>Es importante no dejar a la suerte el futuro de cualquier organización, se deben de tener muchos planes
            en ciertos casos que posiblemente ocurran. En la panemia que recién vivimos por ejemplo no había manera
            de planear algo, todo fue muy rápido y fueron pocas empresas las que pudieron sacar su plan B y
            sobrevivir. Es importante el no improvisar, aunque es una técnica que funciona, no siempre será así.</p>
        <br>
        <p><b>4. ¿Por qué considera que es importante el trabajo en equipo en una organización?</b></p>
        <p>El trabajo en equipo es importante en todos los aspectos de la vida, es neceserario y agradable tener con
            quien contar, sea porque la persona desea ayudar o porque es su obligación. El trabajo en equipo además
            de lograr metas ayuda en lo personal, fortalece las habilidades y crea vínculos con personas que más
            adelante pueden ser parte de nuestra vida personal.</p><br>
    </section>
    <section class="weeks-portfolioSS">
        <h3>PORTAFOLIO SEMANA 11. AUTOGESTIÓN, ORGANIZACIÓN Y CAPACIDAD DE ANÁLISIS DE DATOS Y REPORTES</h3>
        <p><b>1. Autoevaluación sobre los aprendizajes que has adquirido en el módulo. El requisito fundamental
                consiste en que, para el desarrollo de la actividad es fundamental la implementación de gráficas o
                barras para representar la información; además de lo anterior es necesario redactar un pequeño
                informe sobre su proceso (análisis de datos y reportes).</b></p>
                <p>Siempre será importante y gratificante aprender; a lo largo de los 3 meses del proceso del curso he conocido y aprendido muhcas cosas que ayudan a mi crecimiento personal e incluso laboral. El conocer nuevas habilidades blandas me ayudó a abrir los ojos y a pensar un poco más en mi actuar con los demás.</p>
                <p>Las diferentes técnicas vistas en el curso me están ayudando en los diferentes procesos personales que afronto en mi día a día. Las relaciones interpersonales son importantes para todos y es indispensable que conozcamos estas técnicas para una mejor comunicación y aceptación.</p>
                <p>El hecho de conocer nuevos conceptos es importante, saberlos utilizar y aplicarlos adecuadamente. Este es el caso del marketing personal, del cual solo sabía un poco de su modo de operación pero no sabía que era algo tan estructurado y que tuviera ya estudios.</p>
                <p>Las técnicas de comunicación y lenguaje, trabajo en equipo, inteligencia emocional y resolución de conflictos, entre otros, nos deja listos para iniciar en el mundo laboral como desarrolladores full stack, puesto que estos conceptos son importantes para la vida diaria en una empresa, nos ayudan a ser mejores personas y hacemos que todo sea más fácil, somos más productivos.</p>
                <img class="skills-image" src="../assets/images/skills.png">
                <p>Para el ejercicio decidí tomar las habilidades que vimos a lo largo del curso y hacer una autoevaluación.¿Qué porcentaje creo que tengo en cada una de ellas? Decidí hacer este gráfico para que sean más evidentes aquellas que tengo más desarrolladas y en las cuales me destaco.</p>
    </section>