  .autorretrato {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
  }

  .autorretrato img {
    max-width: 400px;
    margin: 0 auto;
  }

  .skills-image {
    width: 100%;
    margin: 10px auto;
  }