<h1>Blog</h1>
<section class="my-blogs">
  <div class="blog">
    <div class="card" style="width: 18rem;">
      <div class="blog-content">
        <a routerLink="/cargar-datos-kaggle-colab"><img src="../../assets/images/kaggle_colab.jpg" class="card-img-top" alt="Logo de kaggle y Google Colab"></a>
        
        <div class="card-body">
          <h5 class="card-title">Subir datos de Kaggle a Google Colab</h5>
          <p class="card-text">Sube los datasets de las competencias de Kaggle directamente a Google
            Colab
            sin necesidad de descargar ningún archivo.</p>
          <div class="author-info">
            <img class="author-img" src="../../assets/images/Perfil.png">
            <h6>Santiago Ramírez P.</h6>
            <h6>🕒 29/06/23</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>