    <h1>Blog</h1>
    <section class="my-blogs">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Google_Colab.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artículos de Google Colab</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Python.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artículos de Python</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Arduino.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artículos de Arduino</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/JavaScript.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artículos JavaScript</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/play_zone.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Artículos gaming</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
    </section>