    <h1>Blog</h1>
    <section class="my-blogs">
        <div class="blog">
            <a href="/portfolioSS">
                <h3>Portafolio curso habilidades blandas</h3>
                <img class="img-blog" src="../../assets/images/habilidades_blandas.png" alt="20 habilidades blandas">
            </a>
            <p>Reflexiones y aprendizajes acerca de las temáticas abordadas en el curso de habilidades blandas de la
                ruta desarrollador fullstack.
            </p>
        </div>
        <div class="blog">
            <a href="aoeiide">
                <h3>Guía para Age Of Empires II-Definitive Edition</h3>
                <img class="img-blog" src="../../assets/images/Aoe2_de.jpg"
                    alt="Portada de videojuego Age Of Empires II-Definitive Edition">
            </a>
            <p>En esta guía encontrarás los mejores trucos y consejos para el juego, misiones, curiosidades entre
                otros.
            </p>
        </div>
    </section>