.my-blogs {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  
  .blog {
    width: 400px;
    margin: 1% auto;
    border: solid #1D3557;
    border-radius: 5%;
    display: block;
    background-color: #A8DADC;
  }
  
  .blog a {
    text-decoration: none;
  }
  
  .blog h3 {
    color: #1D3557;
  }
  
  .img-blog {
    width: 380px;
    height: auto;
    margin: 5px 10px;
  }