.my-blogs{
  display: flex;
  flex-wrap: wrap;
}
.my-blogs .card{
  margin: auto;
  border-color: #1D3557;
}
.blog-content{
  margin: 15px;
}
.blog-content .author-img{
  width: 25px;
}

.blog-content .author-info{
display: flex;
flex-wrap: wrap;
justify-content: left;
}