/*General*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Times New Roman;
}
html{
    background: #FFFFFF;
}
body{
    font-weight: 400;
    line-height: 1.5;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
p{
    text-align: justify;
}
/*Menu principal*/
  .menu {
    background-color: #000000;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .menu a{
    color: #FFFFFF;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  .nav-link {
    color: white;
    text-decoration: none;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 80px;
  }
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #FFFFFF;
    transition: 0.5s;
  }
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
    .header {
      height: 60px;
    }
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #000000;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
    .nav-menu-item {
      line-height: 70px;
    }
    .nav-menu-link:hover,.nav-menu-link_active {
      background: none;
      color: #000000;
    }
    .nav-toggle {
      display: block;
    }
    .nav-menu_visible {
      left: 0;
    }
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }
/**/
.titulopr{
    font-size: 35px;
    margin-top: 8%;
    margin-bottom: 0.5rem;
    text-align: center;
    color:#000000;
    font-weight: bold;    
}
.todos-los-contenedores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;

}
.todos-los-contenedores img{
    height:300px;
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
}
.todos-los-contenedores p{
    color: #000000;
    text-align: justify;
    margin: 5%;
    font-size: 20px;
}
.titulos-contenedores{
   font-size: 25px;
    margin: 5%;
    margin-bottom: 0.5rem;
    text-align: center;
    color:#000000;
    font-weight: bold;
}
.contenedores-solos{
    width: 400px;
    height: auto;
    float: left;
    border: 5px dashed #000000;
    margin: 2%;
}
.contenedores-solos a{
    float:left;
    margin-bottom: 5%;
}
/*Index*/
.titulo-bienvenida{
    text-align: center;
    margin-top: 75px;
    color: #000000;
}
.nombre{
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.profesion-1{
    font-size: 65px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.profesion-2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.profesion-3{
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
/*Sobre_mi*/
.yo{
    display: inline-block;
    margin: 3%;
    align-items: center;
}
.yo img{
    height:300px;
    width: 300px;
    float: left;
    margin-right: 3%;
    margin-bottom: 1%;
}
.yo p{
    margin-right: 3%;
    color: #000000;
    font-size: 25px;
}
.mis-estudios{
    color: #000000;
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
}
.estudios{
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  text-align: justify;
}
.mis-estudios h3{
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-left: 5%;
}
.mis-estudios h4{
  color: #000000;
  font-size: 25px;
  text-align: left;
  margin-left: 5%;
  font-weight:normal;
  text-align: left;
}
.estudio{
  width: 330px;
  margin: 1%; 
}
.laboral{
  text-align: justify;
  margin-bottom: 4%;
  margin-right: 3%;
}
.lenguajes-programacion{
  width: 100vh;
  height: 100vh;
  display: inline;
  justify-content: center;
  margin-top: 1%;
}
.barra{
  width: 350px;
  height: 20px;
  background: #343B40;
}
.progreso{
  height: 100%;
  background: #1778BD;
}
.lenguaje{
  display: inline-block;
  margin: 0.5%;
}
.lenguajes-programacion h2{
  color: #000000;
  text-align: center;
  margin-top: 5%;
  font-size: 25px;
}
/*Mis_proyectos*/
/*Mundo_gamer*/
.todos-los-juegos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}
.todos-los-juegos img{
  height:auto;
  width: 320px;
  align-items: center;
}
.todos-los-juegos p{
  color: #000000;
  text-align: justify;
  margin-top: 2%;
  font-size: 20px;
}
.titulos-juegos{
  font-size: 20px;
  text-align: center;
  color:#000000;
  font-weight: bold;
}
.juegos-solos{
  float: left;
  margin: 1%;
}
.juegos-solos a{
  float:left;
  margin-bottom: 5%;
}













    /*contacto*/
  .contactame{
    text-align: center;
    color: #000000;
    margin-top: 10%;
    font-size: 25px;
}
.contactame input{
    width: 200px;
    height: 30px;
    font-size: 20px;
}