* {
  font-family: "Lato";
}

body {
  background-color: #F1FAEE;
}

a {
  text-decoration: none;
  color: #1D3557;
}

p {
  font-size: 18px;
  text-align: justify;
  color: #1D3557;

}

h1 {
  font-size: 36px;
  text-align: center;
  color: #1D3557;
}

h2 {

  font-size: 30px;
  text-align: center;
  color: #1D3557;
}

h3 {

  font-size: 24px;
  text-align: center;
  color: #1D3557;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: #1D3557;
}

h5 {
  font-size: 18px;
  font-weight: bold !important;
  color: #1D3557 !important;
}

h6 {
  font-size: 16px !important;
  color: #1D3557 !important;
}

ul{
  margin: 0;
  padding: 0;
}

li {
  font-size: 17px;
  color: #1D3557;

}

table {
  font-size: 17px;
  margin: auto;
}

th {
  text-align: left;
  color: #1D3557;
  border: solid #457B9D;
  padding: 5px;
}

td {
  text-align: left;
  border: solid #457B9D;
  padding: 5px;
}

.container {
  margin-top: 90px;
}









/*Blogs*/
.tutorial-title{
  display: flex;
  align-items: center;
}
.tutorial-title img{
  width: 50px;
}
.tutorial-description{
  margin: 0 5px;
}