/* You can add global styles to this file, and also import other style files */
.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
  
    10% {
        transform: rotate(14deg);
    }
  
    20% {
        transform: rotate(-8deg);
    }
  
    30% {
        transform: rotate(14deg);
    }
  
    40% {
        transform: rotate(-4deg);
    }
  
    50% {
        transform: rotate(10deg);
    }
  
    60% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(0deg);
    }
  }
  
  
  
  * {
    color: #fff;
    text-decoration: none;
  }
  /*general*/
  * {
    font-family: "Lato";
  }
  
  body {
    background-color: #061e2f;
  }
  
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  p {
    margin-top: 10px;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
  
  }
  
  h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
  }
  
  h2 {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
  }
  
  h3 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  
  h4 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    color: #FFFFFF;
  }
  
  table {
    font-size: 20px;
  }
  
  th {
    text-align: left;
    color: #1778bd;
    border: solid #1778bd;
    padding: 5px;
  }
  
  td {
    text-align: left;
    border: solid #1778bd;
    padding: 5px;
  }
  
  /*header*/
  header {
    background-color: #030f18;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    border-bottom: inset #1778bd;
  }
  
  header a {
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    position: relative;
  }
  
  header a:hover {
    color: #1778BD;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .nav-header-link {
    color: white;
    text-decoration: none;
  }
  
  .name {
    font-size: 25Px;
    font-weight: bold;
    margin: 11.75px 5%;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    align-items: center;
    margin: 12.5px;
  }
  
  .nav-menu-item {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #FFFFFF;
    transition: 0.5s;
  }
  
  .nav-toggle {
    color: #FFFFFF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
  }
  
  /*language*/
  .select-language {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 150px;
    right: 0px;
  }
  
  .select-language img {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
  }
  
  #Colombia {
    position: fixed;
    visibility: hidden;
    z-index: -1;
  }
  
  #USA {
    position: fixed;
    visibility: visible;
    z-index: 1;
  }
  
  .select-language img:hover {
    opacity: 1;
  }
  
  
  
  /*index*/

  
  
  
  
  
  
  
  
  .last-video {
    width: 100%;
    height: auto;
    display: block;
    margin: 5% 0%;
  }
  
  .index-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
  }
  
  .index-video iframe,
  .index-video object,
  .index-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  /*about_me*/
  .me {
    padding-top: 20px;
    display: inline-block;
  }
  
  .my-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .course {
    width: 300px;
  }
  
  .course .card {
    background-color: #0e4b76;
    border: solid #FFFFFF;
    border-radius: 5%;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .course h5 {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .course p {
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
  }
  
  .course a {
    background-color: #FFFFFF;
    color: #0e4b76;
  }
  
  .course a:hover {
    background-color: #FFFFFF;
    color: #0e4b76;
  }
  
  .programming-laguages {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .language {
    display: inline-block;
    margin: 0% 1%;
  }
  
  .language h3 {
    font-size: 25px;
    margin: 2%;
  }
  
  .progress {
    height: 100%;
    width: 300px;
    background: #343B40;
  }
  
  .work-experience h2 {
    margin: 5% 0% 0%;
  }
  
  .work-experience h3 {
    text-align: left;
  }
  
  .work-experience h4 {
    text-align: justify;
  }
  
  .abilities {
    margin-top: 30px;
  }
  
  .abilities li {
    font-size: 25px;
  }
  
  .personal-interests {
    margin-top: 30px;
  }
  
  .personal-interests li {
    font-size: 25px;
  }
  
  .cv a {
    width: 150px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #0e4b76;
    color: #FFFFFF;
    border-radius: 5%;
  }
  

  
  
  
  .blog p {
    margin: 0px 25px 5px;
  }
  
  /*blogs*/
  .weeks-portfolioSS h3 {
    margin-top: 3%;
  }
  
  .weeks-portfolioSS a:hover {
    color: #1778BD;
  }
  
  .skills {
    display: flex;
    justify-content: center;
  }
  
  .autorretrato {
    display: flex;
    height: auto;
    align-items: center;
  }
  
  .autorretrato img {
    width: 40%;
    margin: 0 auto;
  }
  
  .convencionesar {
    height: 100%;
  }
  
  .decalogue li {
    font-size: 25px;
  }
  
  .skills-image {
    width: 70%;
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  
  .cheats,
  .civilizations {
    margin-top: 3%;
  }
  
  .cheats-list li {
    font-size: 25px;
  }
  
  .civilization h4 {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /*contact*/
  .contact-form {
    max-inline-size: 550px;
    margin: auto;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0px;
  }
  
  .contact-form label span {
    color: #1778BD;
  }
  
  .contact-form input,
  .contact-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1778BD;
  }
  
  .send-message {
    width: auto;
    height: auto;
    display: block;
    color: #FFFFFF;
    background-color: #1778BD;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  /*Dispositivos móviles*/
  @media (max-width: 650px) {
  
    /*General*/
    p {
        margin-top: 10px;
        text-align: justify;
        font-size: 20px;
    }
  
    h1 {
        margin-top: 80px;
        font-size: 45px;
        text-align: center;
    }
  
    h2 {
        margin-top: 10px;
        font-size: 35px;
        text-align: center;
    }
  
    h3 {
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }
  
    h4 {
        margin-top: 10px;
        font-size: 20px;
        font-weight: normal;
        text-align: left;
    }
  
    table {
        font-size: 15px;
    }
  
    th {
        text-align: left;
        color: #1778BD;
        border: 0.5px solid #1778BD;
        padding: 2px;
    }
  
    td {
        text-align: left;
        border: 0.5px solid #1778BD;
        padding: 2px;
    }
  
    /*blog*/
    .blog {
        width: 90%;
        margin: 1% 5%;
        border: solid #000000;
        border-radius: 5%;
        display: block;
    }
  
    .img-blog {
        width: 90%;
        height: auto;
        margin: 1% 5%;
    }
  }
  
  @media (max-width: 900px) {
  
    /*header*/
    .nav-menu {
        flex-direction: column;
        background-color: #343B40;
        position: fixed;
        top: 70px;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: left 1s;
        margin: 0;
        padding: 0;
    }
  
    .nav-menu-item {
        width: 100%;
        text-align: center;
        margin: 5% 0%;
    }
  
    .nav-toggle {
        display: block;
        color: #FFFFFF;
    }
  
    .nav-menu_visible {
        left: 0;
    }
  
    .nav-toggle:hover {
        color: #1778BD;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
  
    /*Blogs*/
    .autorretrato {
        display: block;
        margin: 3% auto;
    }
  
    .autorretrato img {
        width: 100%;
    }
  
    .skills-image {
        width: 100%;
    }
  }
  
  
  
  
  
  /*Footer*/
  footer {
    width: 100%;
    height: auto;
    background-color:#030f18;
    margin: 5% 0% 0% 0%;
  }
  
  .footer-info {
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
  }
  
  .footer-info h1 {
    font-size: 25px;
    margin: 5% 0%;
    text-align: left;
    color: #FFFFFF;
  }
  
  .footer-info p {
    font-size: 20px;
    color: #FFFFFF;
  }
  
  .colum1-footer,
  .colum2-footer,
  .colum3-footer {
    width: 30%;
    margin: auto;
  }
  
  .row-footer {
    display: flex;
    margin: 3% 0%;
  }
  
  .row-footer img {
    width: 30px;
    height: auto;
    border-radius: 100%;
  }
  
  .row-footer label {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    margin: auto 1%;
    color: #FFFFFF;
  }
  
  .copyright {
    width: 100%;
    height: 50px;
    border-top: inset #FFFFFF;
  }
  
  .copyright p {
    width: 100%;
    height: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  @media (max-width: 900px) {
    .footer-info {
        flex-wrap: wrap;
    }
  
    .footer-info h1 {
        text-align: center;
    }
  
    .colum1-footer,
    .colum2-footer,
    .colum3-footer {
        margin: 5%;
        width: 100%;
    }
  
    .copyright {
        width: 100%;
        height: 80px;
    }
  
    .copyright p {
        width: 100%;
        height: 40px;
    }
  }

  .container{
    margin-top: 90px;
  }