<section class="welcome">
    <div class="welcome-message">
        <h1 class="heading">¡Hola!<span class="wave">👋🏻</span></h1>
        <h2>Soy Santiago Ramírez Pérez</h2>
        <h3 id="description-index">Estudiante de ingeniería eléctrica | Desarrollador frontend | Desarrollador Python y
            Arduino</h3>
    </div>
    <div class="welcome-img">
        <img src="../../assets/images/Perfil.png" alt="Santiago Ramírez Pérez">
    </div>
</section>
<section class="tinkercad-projects">
    <h2 id="tinkercad-projects">Proyectos en Tinkercad</h2>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <iframe class="embed-responsive-item" src="https://www.tinkercad.com/embed/e0kb0uuiZs0?editbtn=1"
                    frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <iframe src="https://www.tinkercad.com/embed/erYGyzDGipD?editbtn=1" frameborder="0" marginwidth="0"
                    marginheight="0" scrolling="no"></iframe>
            </div>
            <div class="carousel-item">
                <iframe src="https://www.tinkercad.com/embed/cCUbx6ykqFH?editbtn=1" frameborder="0" marginwidth="0"
                    marginheight="0" scrolling="no"></iframe>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>















</section>
<section class="last-video">
    <h2 id="last-video">Último tutorial de YouTube</h2>
    <div class="index-video">
        <iframe src="https://www.youtube.com/embed/PWeVp0hOesM" title="YouTube video player" allowfullscreen></iframe>
    </div>
</section>