.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    max-width: 720px;
}

.welcome-message h1 {
    margin: 0 !important;
}

.welcome-img img {
    max-width: 250px;
    display: flex;

}

.wave {
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.tinkercad-projects iframe {
    width: 100%;
    height: 56.25vw;
}

.last-video {
    width: 100%;
    height: auto;
    display: block;
    margin: 5% 0%;
}

.index-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.index-video iframe,
.index-video object,
.index-video embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}